<!-- /snippets/404.liquid -->
<div class="u-paddingTopBottom10x">
  <div class="wrapper--narrow text-center">
    <h2>{{ 'general.404.title' | t }}</h2>
    <p>{{ 'general.404.subtext_html' | t }}</p>
  </div>
</div>
