<!-- snippets/_header.liquid -->
<header class="de-PageWrap-header de-js-PageWrap-header">
  <div class="de-PageWrap-headerPrimary">
    <div class="de-PageWrap-narrowMenuControl">
      <div class="de-MenuBar">
        <button class="de-MenuBar-action de-MenuBar-action--stack"
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="demo-side">
          {% include 'patterns-icons-bars'
            with class: 'de-MenuBar-icon' %}
          <span class="de-MenuBar-label">Menu</span>
        </button>
      </div>
    </div>
    <div class="de-PageWrap-logo" itemscope itemtype="http://schema.org/Organization">
      {% include 'patterns-branding-logo' with
        titleId:'logo-title',
        href: '/',
        class: 'de-PageWrap-logoObject' %}
    </div>
    <div class="de-PageWrap-wideMenuControl">
      <div class="de-MenuBar">
        <button class="de-MenuBar-action de-u-textGrow1"
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="demo-mega"
          data-de-page-wrap-hover="true">
          <span class="de-MenuBar-label">Menu</span>
        </button>
      </div>
    </div>
  </div>
  <nav class="de-PageWrap-headerSecondary">
    <ul class="de-MenuBar">
      <li class="de-PageWrap-headerTertiaryControl">
        <button class="de-MenuBar-action"
          data-de-page-wrap-action="toggleExpand"
          data-de-page-wrap-target="demo-search">
          {% include 'patterns-icons-search'
              with class: 'de-MenuBar-icon' %}
        </button>
      </li>
      <li class="de-u-hidden de-u-sm-block">
        {% include '_header--greeting' %}
      </li>
      <li>
        {% include '_header--cart' %}
      </li>
    </ul>
  </nav>
  <div class="de-PageWrap-headerTertiary" id="demo-search">
      <div class="de-SingleInputForm">
        <div class="adept-autocomplete-search"
          input-placeholder='Search 10k products, 70 sports'
          form-action="/apps/adeptsearch"
          input-classes="de-Input de-SingleInputForm-input"></div>
        <button class="de-SingleInputForm-action">
          {% include 'patterns-icons-search', class: 'de-u-textGrow3', role: 'presentation' %}
          <span class="de-u-hiddenVisually">Search</span>
        </button>
      </div>
    </div>
</header>
<div class="de-PageWrap-narrowMenu" data-de-page-wrap-action="closeMenu">
	<nav class="de-PageWrap-narrowMenuInner" id="demo-side" data-de-page-wrap-cancel="" aria-hidden="false">
	  {% include '_header--nav-narrow' %}
	</nav>
</div>
<div class="de-PageWrap-wideMenu"
  data-de-page-wrap-action="closeMenu">
  {% include '_header--nav-wide' %}
</div>
<!-- End snippets/_header.liquid -->
