<!-- snippets/_header.liquid -->
{% assign greetingLength = 9 %} {% comment %}Variable for the number of characters in users' Name in greeting {% endcomment %}
<header class="de-PageWrap-header"
  data-de-page-wrap-fix="bar">
  <div class="de-PageWrap-headerPrimary">
    <div class="de-PageWrap-narrowMenuControl">
      <div class="de-MenuBar">
        <button class="de-MenuBar-action de-MenuBar-action--stack"
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="demo-side">
          <span class="de-MenuBar-label">Menu</span>
        </button>
      </div>
    </div>
    <div class="de-PageWrap-logo">
      Logo
    </div>
    <div class="de-PageWrap-wideMenuControl">
      <div class="de-MenuBar">
        <button class="de-MenuBar-action de-u-textGrow1"
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="demo-mega"
          data-de-page-wrap-hover="true">
          <span class="de-MenuBar-label">Menu</span>
        </button>
      </div>
    </div>
  </div>
  <nav class="de-PageWrap-headerSecondary">
    <ul class="de-MenuBar">
      <li class="de-PageWrap-headerTertiaryControl">
        <button class="de-MenuBar-action"
          data-de-page-wrap-action="toggleExpand"
          data-de-page-wrap-target="demo-search">
          Search
        </button>
      </li>
      <li>
        <a class="de-MenuBar-action de-MenuBar-action--primary" href="">
          <span class="de-MenuBar-label de-u-textNormal">0</span>
          Cart
        </a>
      </li>
    </ul>
  </nav>
  <div class="de-PageWrap-headerTertiary" id="demo-search">
    (Search)
  </div>
</header>
<div class="de-PageWrap-narrowMenu"
  data-de-page-wrap-action="closeMenu">
  <nav class="de-PageWrap-narrowMenuInner"
    id="demo-side"
    data-de-page-wrap-cancel>
    <ol>
      {% for i in (1..10) %}
        <li>Menu Item</li>
      {% endfor %}
    </ol>
  </nav>
</div>
<div class="de-PageWrap-wideMenu"
  data-de-page-wrap-action="closeMenu">
  <nav class="de-PageWrap-wideMenuInner"
    id="demo-mega"
    data-de-page-wrap-cancel>
    <ol>
      {% for i in (1..3) %}
        <li>Menu Item</li>
      {% endfor %}
    </ol>
  </nav>
</div>
  <!-- End snippets/_header.liquid -->
