<a href='pages/store-finder' class='de-MenuBar-action'>
  {% include 'patterns-icons-store-finder',
    with class: 'de-Icon de-MenuBar-icon' %}
  <span class='de-MenuBar-label de-u-textNormal de-u-hidden de-u-lg-block'>Stores</span>
</a>
