[[# label ]]
  <div class="ais-current-refined-values--label">[[ label ]]</div>[[^ operator ]]:[[/ operator]]
[[/ label ]]

[[# operator ]]
  [[& displayOperator ]]
  [[# helpers.formatNumber ]][[# helpers.transformName ]][[ label ]]|[[ name ]][[/ helpers.transformName ]][[/ helpers.formatNumber ]]
[[/ operator ]]
[[^ operator ]]
  [[# exclude ]]-[[/ exclude ]][[# helpers.transformName ]][[ label ]]|[[ name ]][[/ helpers.transformName ]]
[[/ operator ]]