[[# label ]]
  <div class="ais-current-refined-values--label [[ label ]]">[[ label ]]</div>[[^ operator ]]:[[/ operator]]
[[/ label ]]

[[# operator ]]
  [[& displayOperator ]]
  [[# helpers.formatNumber ]][[# helpers.lowercase ]][[# helpers.transformName ]][[ label ]]|[[ name ]][[/ helpers.transformName ]][[/ helpers.lowercase ]][[/ helpers.formatNumber ]]
[[/ operator ]]
[[^ operator ]]
  [[# exclude ]]-[[/ exclude ]][[# helpers.lowercase ]][[# helpers.transformName ]][[ label ]]|[[ name ]][[/ helpers.transformName ]][[/ helpers.lowercase ]]
[[/ operator ]]