<header>
  <h3 class="de-ProductInfoSection-title
             de-u-textGrow2 de-u-md-textGrow3 de-u-lg-textGrow4
             de-u-spaceNone de-u-hidden de-u-md-inlineBlock"
    id="Section-reviews">
    <span class="visually-hidden">Product </span>Customer Reviews
  </h3>
</header>
