<div class="de-PageWrap-menu de-PageWrap-wideMenu de-PageWrap-prioritySportNav">
  {% for link in linklists.mega-tabs.links %}
  {% assign menu_handle = link.url | handleize %}
  {% assign mega_menu = linklists[menu_handle] %}
  <nav class="de-PageWrap-wideMenuInner" id="mega-tab-{{ link.handle }}" data-de-page-wrap-cancel>
    <div class="de-Grid de-Grid--equalHeight">
      <div class="de-u-size4of5 de-u-xl-size5of6">
        <div class="de-u-sizeFull">
          <div class="de-u-pad2 de-u-borderTopSm de-u-borderGray50 de-u-borderOverlapTopSm">
            {% if mega_menu.links.size > 0 or menu_handle == 'az' %}
              {% case menu_handle %}
                {% when 'sports' %}
                  {% render 'compositions-header-nav-wide-sports' %}
                {% when 'az' %}
                  {% include 'compositions-header-nav-wide-az' %}
                {% else %}
                  {% include 'compositions-header-nav-wide-list', list: mega_menu %}
              {% endcase %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="de-u-size1of5 de-u-xl-size1of6 de-u-bgWhite">
        {% assign callout_count = 0 %}

        {% for block in callout_blocks %}
          {% if block.settings.megamenu_parent == link.handle %}
            {% assign callout_count = callout_count | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% if settings.megamenu_set_for_all == "override" %}
          {% include 'compositions-header-nav-wide-extras'
            img: settings.megamenu_image
            title: settings.megamenu_title
            subtitle: settings.megamenu_subtitle
            callout_link: settings.megamenu_link
            bg_color: settings.megamenu_bg_colour
          %}
        {% else %}
          {% if settings.megamenu_set_for_all != "override" and callout_count > 0 %}
            {% for block in callout_blocks %}
            {% if block.settings.display_callout and block.settings.megamenu_parent == link.handle%}
                {% if block.settings.megamenu_image != blank %}
                  {% include 'compositions-header-nav-wide-extras'
                    img: block.settings.megamenu_image
                    title: block.settings.megamenu_title
                    subtitle: block.settings.megamenu_subtitle
                    callout_link: block.settings.megamenu_link
                    bg_color: block.settings.megamenu_bg_colour
                  %}
                {% else%}
                  {% if settings.megamenu_set_for_all == "default"  %}
                    {% include 'compositions-header-nav-wide-extras'
                      img: settings.megamenu_image
                      title: settings.megamenu_title
                      subtitle: settings.megamenu_subtitle
                      callout_link: settings.megamenu_link
                      bg_color: settings.megamenu_bg_colour
                    %}
                  {% endif %}
                {% endif %}
              {% elsif block.settings.display_callout == false and block.settings.megamenu_parent == link.handle%}
                <div class="de-u-sizeFull"></div>
              {% endif %}
            {% endfor %}
          {% else %}
              {%if settings.megamenu_set_for_all == "default" %}
                {% include 'compositions-header-nav-wide-extras'
                  img: settings.megamenu_image
                  title: settings.megamenu_title
                  subtitle: settings.megamenu_subtitle
                  callout_link: settings.megamenu_link
                  bg_color: settings.megamenu_bg_colour
                %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </nav>
  {% endfor %}
</div>

<div class="de-PageWrap-subHeader">
  <ul class="de-MenuBar-list">
    {% for link in linklists.mega-tabs.links %}
      <li class="de-MenuBar-listItem">
        <button class="de-MenuBar-action de-u-textGrow1"        
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="mega-tab-{{ link.handle }}"
          data-de-page-wrap-hover="true"
          aria-expanded="false"
          >
          <span class="de-MenuBar-label">{{ link.title }}</span>
        </button>
      </li>
    {% endfor %}
  </ul>
</div>

