<div class="grid--full anchorLinks">
  <div class="wrapper">
    <ul class="anchorList">
    {%- for link in compositions-blog-subnav.links -%}
      <li class="anchorList-item">
        <a class="anchorList-link{% if link.url == page.url or link.url == blog.url %} anchorList-link--active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {%- endfor -%}
    </ul>
  </div>
</div>
