{% comment %}Test code for configurable labels - remove before QA{% endcomment %}
testlabels
<div class="de-ProductFlag label_sale" style="position: relative;">
  <span class="de-u-hiddenVisually">Special product, </span>Sale
</div>
<div class="de-ProductFlag label_lowest-price" style="position: relative;">
  <span class="de-u-hiddenVisually">Special product, </span>Lowest Price
</div>
<div class="de-ProductFlag label_best-value" style="position: relative;">
  <span class="de-u-hiddenVisually">Special product, </span>Best Value
</div>

<div class="label_combo_best-value-lowest-price" style="display: flex;">
  <div class="de-ProductFlag label_lowest-price" style="position: relative;">
    <span class="de-u-hiddenVisually">Special product, </span>Lowest Price
  </div>
  <div class="de-ProductFlag label_best-value" style="position: relative;">
    <span class="de-u-hiddenVisually">Special product, </span>Best Value
  </div>
</div>
