{% assign no_vendor_testing = 'testing-decathlon-usa' %}
{% assign no_vendor_production = 'decathlon-usa' %}
{% assign brand_logo_prefix = 'assets-logos-brands-' %}
{% assign brand_logo_name = product.vendor | downcase | handleize | remove: "-" %}
{% assign brand_logo_filename = brand_logo_prefix | append: brand_logo_name %}



{% comment %}
  Notes for use of brand_logo_filename:
  The brand_logo_name assignment uses the liquid filter handleize to remove
  all non-alphanumeric characters and insert hyphens in their place.
  Then, to normalize the name, those hyphens are removed. It also has a
  downcase filter applied. So, filenames should be one string, combining
  all parts of the name, lowercased, prefixed by 'logo_brand_'.
  Example:
  logo_brand_wedze.liquid matches all three of the names, below
  Wed Ze
  Wed'ze
  WedZe
{% endcomment %}
{% comment %} {{product.vendor}} {% endcomment %}
{% assign brand_logo_handle = '' %}
{% for link in linklists.sub-brands.links %}
  {% assign link_title = link.title | upcase %}
  {% assign product_vendor = product.vendor | upcase %}
  {% if link_title == product_vendor %}
    {% assign brand_logo_handle = link.url | remove: "#" %}
  {% endif %}
{% endfor %}

{% capture logo %}
{% if product.vendor != no_vendor_testing and
      product.vendor != no_vendor_production %}


{% include brand_logo_filename, 
  class: class,
  data_gtm_event: data_gtm_event,
  data_gtm_id: data_gtm_id,
  data_gtm_category: data_gtm_category,
  data_gtm_actions: data_gtm_actions,
  data_gtm_delegate: data_gtm_delegate
%}
{% endif %}
{% endcapture %}

<div class="sub-brand-container">
  <a href="/{{ brand_logo_handle }}" class="sub-brand-link">
  {% if product.vendor == no_vendor_testing
        or product.vendor == no_vendor_production
        or logo contains 'Liquid error' %}
    <div class="h3 vendor_logo_fallback">{{ product.vendor }}</div>
  {% else %}
  {{ logo }}
  {% endif %}
  </a>  
</div>
