<div class="footer-commitment">
  <div class="wrapper">
    <div class="yellowgram">
      <img class="u-blockAuto" style="max-width: 140px;" src="{{ 'decathlonlogo.png' | asset_img_url: 'original' }}" alt="Decathlon" />
    </div>
  </div>
</div>
