<svg class="{{ class }}" viewBox="0 0 24 24">
  <defs>
    <clipPath id="a_alt">
      <circle cx="12" cy="12" r="12" style="fill:none" />
    </clipPath>
    <clipPath id="b_alt">
      <rect width="2148" height="9648" x="-919.5" y="-5427" style="fill:none" />
    </clipPath>
    <clipPath id="c_alt">
      <path
        d="M11.117,15.59471a.57242.57242,0,0,0,.37758-.219L15.98628,9.2429a.54929.54929,0,0,0,.054-.55157.56283.56283,0,0,0-.9654-.09262l-4.16626,5.7076L8.79948,12.7087a.5873.5873,0,0,0-.78118.09019.57568.57568,0,0,0,.09114.773l2.53882,1.93259a.64246.64246,0,0,0,.33852.12884A.25031.25031,0,0,1,11.117,15.59471Z"
        style="fill:none"
      />
    </clipPath>
    <clipPath id="d_alt">
      <rect
        width="2148"
        height="9648"
        x="-919.49871"
        y="-5427.63795"
        style="fill:none"
      />
    </clipPath>
  </defs>
  <title>icon-circle-checkmark</title>
  <rect width="1432" height="6432" x="-704" y="-3204" style="fill:#fff" />
  <g style="clip-path:url(#a_alt)">
    <g style="clip-path:url(#b_alt)">
      <rect width="39" height="39" x="-7.5" y="-7.5" style="fill:#cbfb00" />
    </g>
  </g>
  <g style="clip-path:url(#c_alt)">
    <g style="clip-path:url(#d_alt)">
      <rect
        width="23.18119"
        height="22.26672"
        x="0.40941"
        y="0.86664"
        style="fill:#2a2b2c"
      />
    </g>
  </g>
</svg>
