<div class="instagramPost{{ adtl_classes }}">
  <a class="instagramPost-link" href="#" target="_blank">
    <img class="instagramPost-image u-block" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Instagram Image" />
    <span class="instagramPost-description"></span>
  </a>
</div>
