{% for link in list.links %}
<li class="de-u-spaceNone">
	<a class="de-MenuList-item" href="{{ link.url }}">
		<p class="de-MenuList-content de-u-textSizeBase de-u-textBold">
			{{ link.title }}
		</p>
	</a>
	{% if link.links != blank %}
 	<ul class="de-MenuList child">
    	{% for child_link in link.links %}
    	<li class="de-u-spaceNone">
			<a class="de-MenuList-item de-u-padLeft6" href= "{{ child_link.url }}">
				<p class="de-MenuList-content de-u-textSizeBase">
					{{ child_link.title }}
				</p>
			</a>
    	</li>
    	{% endfor %}
	</ul>
	{% endif %}
</li>
{% endfor %}
