<li class="de-u-spaceNone">
	<a class="de-MenuList-item de-MenuList-item--muted"
	data-de-slideViews-target="{{slideTarget}}"
	data-de-slideViews-action="pop"
	href="#{{slideTarget}}">
	  {% render 'patterns-icons-chevron', class: 'de-MenuList-icon', role: 'presentation', direction: 'left' %}
	  <span class="de-MenuList-content de-u-textShrink1">
		{{linkLabel}}
	  </span>
	</a>
</li>
