{% assign maxNameLength = 9 %}
{% assign greetingLength = 6 %}
{% assign emailName = '' %}
<li class="de-u-spaceNone">
	{% if customer %}
		<a class="de-MenuList-item de-MenuList-item--muted" href="/account/">
			{% include 'patterns-icons-user',
				class: 'de-MenuList-icon de-u-textGrow3',
				role: 'presentation' %}
			<p class="de-MenuList-content de-u-textShrink1 de-u-spaceEndsNone">
				{% if customer.first_name != blank %}
					Hey,
					{% if customer.first_name.size <= maxNameLength %}
						{{customer.first_name | capitalize }}
					{% else %}
						{{customer.first_name | slice: 0, greetingLength | capitalize }}…
					{% endif %}
				{% else %}
					Hey, 
					{% assign emailName = customer.email | split: '@' | first %}
					{% if emailName <= maxNameLength %}
						{{ customer.email | split: '@' | first | capitalize }}
					{% else %}
						{{ customer.email | split: '@' | first | slice: 0, greetingLength | capitalize }}…
					{% endif %}
				{% endif %}
			</p>
			<p class="de-MenuList-badge de-u-spaceEndsNone">Account</p>
			{% include 'patterns-icons-chevron', class: "de-MenuList-icon", role: 'presentation' %}
		</a>
	{% else %}
		<a class="de-MenuList-item de-MenuList-item--muted" href="/account/login?checkout_url=/">
			{% include 'patterns-icons-user',
				class: 'de-MenuList-icon de-u-textGrow3',
				role: 'presentation' %}
			<p class="de-MenuList-content de-u-textShrink1 de-u-spaceEndsNone">Welcome</p>
			<p class="de-MenuList-badge de-u-spaceEndsNone">Sign In</p>
			{% include 'patterns-icons-chevron',
				class: "de-MenuList-icon",
				role: 'presentation' %}
		</a>
	{% endif %}
</li>
