{% comment %} Small Screen Title Lockup {% endcomment %}
{% include 'product-sm-title-lockup' %}

{% comment %} Small Screen ProductGallery {% endcomment %}
<div class="ProductGallery-showcase de-Wrapper--fullwidth de-u-lg-hidden">
  <div class="de-ProductLabel de-ProductLabel--red de-u-lg-hidden de-u-textMedium">
    Last Call
  </div>

  {% comment %}
  Derek's changes
  <img
    src="https://cdn.shopify.com/s/files/1/1330/6287/products/cf438995-20ba-44e5-8afa-4d5eb628cfcd_1024x1024.jpg"
    class="de-u-block"
    alt="">
  <div class="ProductGallery-controls de-u-padSides de-u-padEnds03 de-u-bgSilver">
    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-flexJustifyBetween">
      <div class="de-u-textBlue de-u-textMedium de-u-flex de-u-flexAlignItemsCenter">
        {% include 'icon-media-play'
          with class: 'de-Icon de-u-textGrow3 de-u-spaceRight06' %}
        Watch Video
      </div>
      <div class="ProductGallery-count de-u-flex de-u-flexAlignItemsCenter">
        {% include 'icon-camera'
          with class: 'de-Icon de-u-textGrow3 de-u-spaceRight06' %}
        3/6
      </div>
    </div>
  </div> {% endcomment %}

  {% comment %} Asaf's Changes {% endcomment %}
  <img src="https://cdn.shopify.com/s/files/1/1330/6287/products/cf438995-20ba-44e5-8afa-4d5eb628cfcd_1024x1024.jpg" alt="">
  {% comment %}
  Video to be shown when 'Watch Video' button is clicked
  {% endcomment %}
  {% if product_video.size > 0 %}
    <video data-account="3415345270001"
      data-player="rJxNjfhX"
      data-embed="default"
      data-video-id="ref:{{ product_video[0] }}_1"
      class="video-js de-copyVideo js-de-copyVideo hide"
      controls
      playsinline>
    </video>
  {% endif %}
</div>

{% comment %}
Button to toggle from image to video
{% endcomment %}
{% if product_video.size > 0 %}
  <div class="text-left de-watch-video-button js-de-watch-video-button large--hide de-u-textBlue de-u-textSizeBase de-u-padSides">
    <span class="js-de-watch-video">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="de-Icon de-u-textGrow3"><path d="M12,22.27539A10.27515,10.27515,0,1,1,22.27539,12,10.28683,10.28683,0,0,1,12,22.27539ZM12,2.7168A9.2832,9.2832,0,1,0,21.28223,12,9.29336,9.29336,0,0,0,12,2.7168ZM9.78223,17.27344a1.58823,1.58823,0,0,1-1.59278-1.65332V8.37988A1.58782,1.58782,0,0,1,9.78223,6.72705a1.7265,1.7265,0,0,1,.85937.23633l6.27149,3.62012a1.6061,1.6061,0,0,1-.002,2.83252l-6.26855,3.62011A1.7262,1.7262,0,0,1,9.78223,17.27344Zm0-9.5542a.612.612,0,0,0-.60059.66113v7.23975a.61111.61111,0,0,0,.60059.66015.72409.72409,0,0,0,.36328-.10254l6.27051-3.6206a.61687.61687,0,0,0,.001-1.11426L10.14648,7.82324A.73569.73569,0,0,0,9.78223,7.71924Z"></path><path d="M12,22.00025a10.00013,10.00013,0,1,1,9.9999-10.00012A10.01126,10.01126,0,0,1,12,22.00025ZM12,2.442a9.55809,9.55809,0,1,0,9.55785,9.55809A9.569,9.569,0,0,0,12,2.442ZM9.78243,16.99777a1.31938,1.31938,0,0,1-1.31782-1.37795V8.38A1.31938,1.31938,0,0,1,9.78243,7.002a1.45333,1.45333,0,0,1,.72261.19971l6.27009,3.62016a1.3318,1.3318,0,0,1-.00023,2.35624l-6.26963,3.61993A1.45405,1.45405,0,0,1,9.78243,16.99777Zm0-9.55348a.8875.8875,0,0,0-.87578.93591v7.23985a.8875.8875,0,0,0,.87578.93591,1.00824,1.00824,0,0,0,.5017-.14074L16.554,12.79529a.8907.8907,0,0,0,.00023-1.59056L10.2839,7.5848A1.00949,1.00949,0,0,0,9.78243,7.44429Z"></path></svg>
      Watch Video
    </span>
    <span class="js-de-view-images hide">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="de-Icon de-u-textGrow3"><path d="M21.90617,5.33333h-3.437L17.54568,3.3284a2.08591,2.08591,0,0,0-1.88642-1.20494H8.34074A2.07877,2.07877,0,0,0,6.45926,3.3284l-.9284,2.00493h-3.437A2.09077,2.09077,0,0,0,0,7.40741V19.80247a2.09077,2.09077,0,0,0,2.09383,2.07407H21.90617A2.094,2.094,0,0,0,24,19.80247V7.40741A2.09077,2.09077,0,0,0,21.90617,5.33333Zm.90864,14.46914a.90865.90865,0,0,1-.90864.88889H2.09383a.90865.90865,0,0,1-.90864-.88889V7.40741a.90865.90865,0,0,1,.90864-.88889H5.91111a.59106.59106,0,0,0,.53827-.34568L7.5358,3.82716a.89289.89289,0,0,1,.80494-.51852H15.6642a.88456.88456,0,0,1,.80494.51852l1.08642,2.34568a.59945.59945,0,0,0,.53827.34568h3.81728a.90536.90536,0,0,1,.90864.88889V19.80247Z"></path><path d="M12,8.19012a5,5,0,1,0,5,5A5.00611,5.00611,0,0,0,12,8.19012Zm0,9.05565a4.05761,4.05761,0,1,1,4.05956-4.05956A4.06543,4.06543,0,0,1,12,17.24577Z"></path></svg>
      View Images
    </span>
  </div>
{% endif %}

{% comment %} Color swatches {% endcomment %}
{% include 'product-proto-swatches-color' %}

{% comment %} Size swatches {% endcomment %}
{% include 'product-proto-swatches-size' %}

{% comment %}
  Price / small screen placement only
  @TODO - can I make de-ProductPrice more reusable (inventory not needed in
  title lockup usage)
{% endcomment %}
<div class="de-ProductPrice de-u-padBottom06 de-u-padTop de-u-textMedium
  de-u-flex de-u-flexAlignItemsEnd">
  <div class="de-u-flex de-u-lg-hidden de-u-flexAlignItemsEnd">
    <div class="de-u-textGrow6 de-u-lineHeight1">$45.00</div>
    <div class="de-u-textGrow2 de-u-padLeft de-u-lineHeight2">
      <del>$57.00</del>
    </div>
  </div>
  <div class="de-u-textRed de-u-lineHeight2 de-u-textGrow2 de-u-padLeft2 de-u-lg-padLeftNone">
    Only 1 left in Stock
  </div>
</div>

{% comment %} Add to cart {% endcomment %}
<div class="de-AddtoCart de-u-spaceBottom2 de-u-flex">
  {% comment %} Quantity Input {% endcomment %}
  {% comment %} <div class="de-u-hidden de-u-md-inlineBlock de-u-md-spaceRight2">
    <input type="number" class="de-AddToCartQty-input">
  </div> {% endcomment %}
  <button class="btn btn--fill de-u-sizeFull de-u-textGrow3">
    <span>Add to cart</span>
  </button>
</div>

{% comment %} Customer Fulfillment Information {% endcomment %}
{% include 'product-fulfillment-info' %}

<div class="de-u-flex de-u-lg-flexJustifyEnd de-u-textShrink1 de-u-textDarkGray
  de-u-padTop03">
  <p><span class="de-u-textMedium">Model</span>: 8492907</p>
</div>
