{% comment %}
  Capture all of the "Size Guide" content
{% endcomment %}
{% capture size_guide_content %}
  <h4>Size Guide</h4>
  <p>This is some content that was captured.</p>
  <p>The size guide content will go here.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis neque at tortor sagittis, quis commodo lorem iaculis. Nulla nisi orci, dictum at efficitur elementum, ultricies vitae metus. Proin eget ligula odio. Nam fermentum, est nec condimentum pharetra, erat orci elementum nulla, in faucibus ipsum dui in urna. Donec sollicitudin tortor eget elit mollis, ac convallis ex auctor. Suspendisse laoreet interdum enim, quis tempus magna accumsan a. Sed venenatis vulputate leo in rhoncus. Phasellus imperdiet mattis commodo. Morbi viverra, velit id varius pharetra, nisl neque volutpat tortor, nec dignissim nulla arcu non mi. Donec dui lorem, ultricies tristique rhoncus sit amet, mattis at sapien. Donec eget faucibus ex, sit amet dapibus augue. Praesent sollicitudin bibendum ligula quis commodo. Aliquam molestie aliquet enim, et tincidunt ante lacinia vitae. Integer vel efficitur est. In vitae sem id mi placerat pulvinar. Ut porta laoreet arcu, at pretium elit viverra sit amet.</p>

  <p>Integer et feugiat nunc. Nam finibus lacus libero, eu consequat justo pellentesque id. Cras tincidunt scelerisque risus nec egestas. Nulla nisi velit, imperdiet quis tortor quis, consequat mattis sem. Nulla eu aliquet lectus, sit amet faucibus diam. Integer elementum elit libero, eu ultricies diam pellentesque eu. Maecenas laoreet magna erat, vehicula vehicula lorem semper ac. Vivamus iaculis ultrices blandit. Morbi accumsan ornare massa, sit amet vulputate ligula volutpat in. Nam venenatis magna vel turpis commodo posuere. Praesent aliquet lacus eu massa tempus dictum. Etiam id consectetur purus, eget auctor odio. Sed id feugiat odio. Mauris ut purus maximus, malesuada neque a, blandit urna.</p>

  <p>Donec mattis imperdiet ipsum dignissim auctor. Aenean sit amet tristique libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus malesuada varius aliquam. Etiam vitae augue id massa pretium aliquet eget nec mauris. Cras libero nisi, aliquam at mi id, malesuada vulputate metus. Nulla risus enim, consequat vitae luctus id, vehicula posuere tortor. Sed varius ex quis commodo iaculis. Donec ipsum mi, gravida a neque a, tempus scelerisque justo. Mauris eu leo et purus ullamcorper condimentum a sit amet magna. Proin non rutrum neque. Pellentesque ex elit, molestie quis laoreet a, tempus sed purus.</p>

  <p>Mauris nec congue velit. Curabitur accumsan elit enim, vitae iaculis enim vulputate sed. Nam aliquet sit amet nisi id faucibus. Vestibulum cursus nulla urna, eget egestas tortor ornare quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque a risus eget vulputate. Aliquam erat volutpat. Praesent gravida lectus et quam hendrerit, ac aliquam quam consectetur. Nullam non ligula a nisi viverra maximus non vitae nisl. In et metus et nisi vulputate ullamcorper vel vel velit. Aenean interdum lacus nec felis rhoncus, ut suscipit lectus pharetra. In consequat ultrices fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer a congue tortor.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed pretium felis. Mauris vestibulum, velit nec dapibus mollis, sapien augue suscipit urna, sed mollis est libero sed lacus. Ut in dictum quam. In rhoncus sed leo dapibus placerat. Sed finibus euismod urna, ut malesuada lorem pretium sit amet. Duis sem lorem, rutrum vitae aliquam ut, consectetur sit amet justo. Mauris fringilla quis velit id porttitor. Nunc eu blandit nisi. Etiam consequat nulla non nibh ullamcorper tempor. Sed varius eros at mattis aliquam. Suspendisse id egestas nulla, et gravida lacus. Curabitur blandit, tortor eu ornare fermentum, erat urna consequat nisl, malesuada dictum turpis mi ut velit. Nullam vitae diam ut dui laoreet tincidunt.</p>
{% endcapture %}

{% comment %}
  Create the drawer
{% endcomment %}
{% include 'product-drawer', drawer_id: "size-guide-drawer", drawer_label: "Size Guide", content: size_guide_content %}
