{% comment %}
  This is a prototype snippet indented to demonstrate the desired markup for the
  product information section. Actual, dynamic content will vary by product but
  this content has been identified as an optimal content sample.

  Information on `itemprop="additionalProperty"`
  @see https://schema.org/additionalProperty

  Developer Note:
  When it comes time to integrate this into something more reusable, a loop for
  example, `aria-labelledby` will require a `name-#count` assisned to it as well
  as the id for the `<h6>` it is being labeled by.
{% endcomment %}

<section class="ProductInformation">

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-1"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-1"
          itemprop="name">
        Resistant materials
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">This polyamide canvas uses 20
    denier thread, resists 20,000 cycles of abrasion. Martindale test, Standard
    12 947-2 Outer: 100% polyamide 1.4 oz/sqm, 20 denier fabric Lining: 100%
    polyamide fabric (1.2oz/sqm), a mix of 15 and 20 denier threads</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-2"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-2"
          itemprop="name">
        Thermal insulation
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">This down jacket has been
    certified for a comfort temperature of 21°F during a standardized test in a
    thermal chamber. The model wears a synthetic long-sleeved T-shirt and a
    light fleece underneath. It works with a simulated 3 mph wind. In our heat
    comparison tool, it represents 2 stars.</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-3"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-3"
          itemprop="name">
        Technical information on the padding
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">We use 100% polyester padding
    (70% recycled) at 3.5 oz/sqm on the body and 2.8 oz/sqm on the sleeves and
    hood. The fill is made from silicon-coated spiral fibers that make it highly
    compressible and highly durable. Despite its thin design, it is highly
    insulating thanks to the air trapped inside and it remains low weight. It
    remains warm even when wet.</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-4"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-4"
          itemprop="name">
        Do you know why the inner lining of your down jacket is gray?
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">Because the fabric we use reduces
    CO2 emissions by 40%. The fabric used is innovative because it mixes a
    self-dyed black thread and an undyed thread. Compared to conventional
    dyeing, this process makes it possible to reduce: • fine particle emissions
    by 66% (PM2.5) • eutrophication of fresh water by 74% • eutrophication of
    marine water by 68%</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-5"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-5"
          itemprop="name">
        Additional sustainable development information
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">On the Trek 100 black
    and blue models, the outer fabric uses a clean dying process known as dope
    dying (the thread is self-dyed), reducing CO2 emissions by 36%. More
    information: http://developpement-durable.decathlon.com/</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-6"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-6"
          itemprop="name">
        Water-repellent property of the component
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">The water-repellent property of a
    fabric is its capacity to make water run off its surface without absorbing
    it. This prevents the fabric from soaking up water and keeps it lightweight
    and breathable. The fabric is made water-repellent by treating its outer
    surface. However, this property may deteriorate with use. In order to
    reactivate it, follow the guide:
    https://www.quechua.fr/conseils/comment-reactiver-la-deperlance-de-sa-veste-a_86425</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-7"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-7"
          itemprop="name">
        Functions
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">Inside flap under the zipper that
    protects you from the wind. Elasticated cuffs, Flap at the top of the collar
    to protect the chin. Tightening with an elastic cord and toggle at the hem.
    Hood with elastic bias binding</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-lable="ProductInfo-8"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-8"
          itemprop="name">
        A score for comparing products' environmental impact
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">The product's environmental
    impact is calculated over its entire lifecycle using different indicators.
    An overall score from A to E is given to help you easily identify the most
    environmentally-friendly products by comparing products of the same type
    (T-shirts, pants, backpacks, etc). Decathlon is committed to displaying the
    environmental data of its products. More information:
    http://developpement-durable.decathlon.com/</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-9"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-9"
          itemprop="name">
        Product Testing
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">In November 2017, 6 backpackers
    (4 men and 2 women) with part of the Forclaz design team tested this down
    jacket for 4 days in the Southern French Alps. We were able to make the
    final modifications and validate it for use in mountain backpacking.</p>
  </section>

  <section class="ProductInformation-entry de-u-spaceBottom6"
       aria-labelledby="ProductInfo-10"
       itemprop="additionalProperty"
       itemscope
       itemtype="http://schema.org/PropertyValue">
    <header>
      <h6 class="de-u-textGrow2"
          id="ProductInfo-10"
          itemprop="name">
        Composition
      </h6>
    </header>
    <p class="de-u-spaceNone" itemprop="value">Main lining: 100.0% Polyamide
    Main fabric: 100.0% Polyamide Padding: 100.0% Polyester cationic</p>
  </section>

</section>
