<div
  class="ProductBackToTop">
  <span class="ProductBackToTop-left" role="presentation"></span>
  <a
    class="ProductBackToTop-middle 
           de-u-textMedium de-u-textSelectNone"
    href="#">
    Back to Top
  </a>
  <span class="ProductBackToTop-right" role="presentation"></span>
</div>
