<div class="ProductGallery ProductGallery--large">
  <div class="ProductGallery-thumbnails">
    {% for i in (1..16) %}
      <img
        class="ThumbnailImage de-u-block de-u-padBottom03"
        src="https://cdn.shopify.com/s/files/1/1330/6287/products/00164127-432c-4479-b71b-04d30eae0301_400x400.jpg"
        alt="">
    {% endfor %}
  </div>
  <div class="ProductGallery-showcase">
    <img
      class="GalleryImage de-u-block"
      src="https://cdn.shopify.com/s/files/1/1330/6287/products/cf438995-20ba-44e5-8afa-4d5eb628cfcd_1024x1024.jpg"
      alt="">
  </div>
</div>
