{% assign option_type = 'size' %}

{% capture sizes %}
  {% for product_option in product.options_with_values %}
    {% assign product_option_name = product_option.name | downcase %}
    {% if product_option_name == option_type %}
      {% for value in product_option.values %}
        {{- value -}}
        {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign all_sizes = sizes | split: ',' %}

  <div class="de-u-flex de-u-flexAlignItemsCenter de-u-flexJustifyBetween">
    <div>
      <strong>Size: </strong>
      <span class="de-u-textDarkGray de-u-textMedium js-de-SizeInfo">
        Select a size
      </span>
    </div>
    <a
      href="#size-and-fit"
      data-drawer-id="size-guide-drawer"
      data-drawer-toggle-aria-label="Open the size guide dialog."
      data-drawer-action="open"
      class="de-u-flex de-u-flexAlignItemsCenter 
             de-u-textBlue de-u-textMedium de-u-textSelectNone
             js-de-Drawer-toggle"
    >
      {% include 'product-icon--ruler' %}
      Size Guide
    </a>
  </div>

<div class="de-SwatchObjects de-Wrapper--fullwidth de-u-padTop06 de-u-padBottom
            js-de-SizeSwatches">
  {% for size in all_sizes %}
    {% assign cleanSize = size | strip %}
      <button
        class="de-SwatchObjects-item de-SwatchObjects--size de-u-textMedium
               js-de-SizeSwatches-option"
        value="{{ cleanSize }}"
      >{{ cleanSize }}</button>
  {% endfor %}
</div>
