<header>
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4
            de-u-spaceNone de-u-hidden de-u-md-inlineBlock"
    id="Section-sizeguide">
    <span class="visually-hidden">Product </span>Size Guide
  </h3>
</header>
