{% comment %}
  This prototype markup file makes use of the existing <table> structure and
  some class names from existing decathlon.com product pages with the addition
  of ARIA role attributes.-

  A note about non `de-` classes. These classes have styles associated with them
  in `timber.css` and `legacy.css` with high levels of specificity. These
  classes are not receiving any properties from these style rules when used
  here. instead, they are actually receiving inlined styles based on logic
  defined in decathlon.js 😕

  @see
  → `esc-size-guide--table`
  → `esc-size-guide--heading`
  → `esc-size-guide--cell`

{% endcomment %}

<table class="esc-size-guide--table" role="presentation"
       aria-label="Size Guide Table">
  <tr>
    <th class="esc-size-guide--heading">
      US Size
    </th>
    <th class="esc-size-guide--heading">
      Foot Length (in)
    </th>
    <th class="esc-size-guide--heading">
      EU Size
    </th>
    <th class="esc-size-guide--heading">
      Foot Length (cm)
    </th>
    <th class="esc-size-guide--heading">
      Foot Length (cm)
    </th>
    <th class="esc-size-guide--heading">
      Foot Length (m)
    </th>
    <th class="esc-size-guide--heading">
      Foot Length (mm)
    </th>
    <th class="esc-size-guide--heading">
      Foot Length (feet)
    </th>
  </tr>
  <tr>
    <td class="esc-size-guide--cell" aria-label="9c">9C</td>
    <td class="esc-size-guide--cell" aria-label="6.3">6.3"</td>
    <td class="esc-size-guide--cell" aria-label="26">26</td>
    <td class="esc-size-guide--cell" aria-label="15.9 cm">15.9 cm</td>
    <td class="esc-size-guide--cell" aria-label="15.9 cm">15.9 cm</td>
    <td class="esc-size-guide--cell" aria-label="9c">15.9 cm</td>
    <td class="esc-size-guide--cell" aria-label="9c">15.9 cm</td>
    <td class="esc-size-guide--cell" aria-label="9c">15.9 cm</td>
  </tr>
  <tr>
    <td class="esc-size-guide--cell" aria-label="9c">10C</td>
    <td class="esc-size-guide--cell" aria-label="9c">6.6"</td>
    <td class="esc-size-guide--cell" aria-label="9c">27</td>
    <td class="esc-size-guide--cell" aria-label="9c">16.8 cm</td>
    <td class="esc-size-guide--cell" aria-label="9c">16.8 cm</td>
    <td class="esc-size-guide--cell" aria-label="9c">10C</td>
    <td class="esc-size-guide--cell" aria-label="9c">6.6"</td>
    <td class="esc-size-guide--cell" aria-label="9c">27</td>
  </tr>
  <tr>
    <td class="esc-size-guide--cell" aria-label="9c">10.5C</td>
    <td class="esc-size-guide--cell" aria-label="9c">6.8"</td>
    <td class="esc-size-guide--cell" aria-label="9c">28</td>
    <td class="esc-size-guide--cell" aria-label="9c">17.1 cm</td>
    <td class="esc-size-guide--cell" aria-label="9c">10.5C</td>
    <td class="esc-size-guide--cell" aria-label="9c">6.8"</td>
    <td class="esc-size-guide--cell" aria-label="9c">28</td>
    <td class="esc-size-guide--cell" aria-label="9c">17.1 cm</td>
  </tr>
</table>
