{% comment %}
  Information on `itemprop="additionalProperty"`
  @see https://schema.org/additionalProperty
{% endcomment %}

{% assign productinfo = product.metafields.global['product_info'] %}

<section class="ProductInformation">
  {%- capture content -%}
    {%- for specs in productinfo -%}
      {%- assign spec = specs[1] -%}

      {% comment %}
      Check to see if the spec is an empty array and check for specs like "Guarantee"
      and "Care Instructions" that have hardcoded `names` but don't have an associated description.
      {% endcomment %}

      {%- unless spec == blank or spec['description'] == blank -%}
        {%- if spec['name'] == 'Composition' -%}
          {% comment %} Capture the composition item because it needs to be displayed first {% endcomment%}
          {%- capture composition -%}
            {%- include 'product-information-entry' with spec -%}
          {%- endcapture -%}
        {%- else -%}
          {%- include 'product-information-entry' with spec -%}
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}
  {%- endcapture -%}
  {{ composition }}
  {{ content }}
</section>
