<div class="StorePickup">

  <div
    class="StorePickup-header
           de-u-flex de-u-padBottom03 de-u-spaceBottom03">
    <div class="StorePickup-thumbnail">
      <img
        alt=""
        class="de-u-block"
        src="https://cdn.shopify.com/s/files/1/1752/4727/products/8bdfc1a5-64b0-409c-bffd-80152d762d79_160x.jpg"
      >
    </div>
    <div class="de-u-padLeft03">
      <h3
        class="de-u-textGrow1 de-u-md-textGrow2 de-u-textMedium
               de-u-spaceBottomNone"
        itemprop="name">
        {{ product.title }}
      </h3>
      <div class="de-u-textDarkGray">
        <span>Large</span> <span>|</span> <span>Electric Blue</span>
      </div>
    </div>
  </div>

  <div
    class="de-UseMyLocation de-js-UseMyLocation
           de-u-flex de-u-flexAlignItemsCenter de-u-flexJustifyBetween
           de-u-textSizeBase
           de-u-spaceBottom06"
  >
    <button class="de-UpdateLocation">
      Your location:
      <span id="js-de-StorePickup-zipcode" class="de-u-textUnderline de-u-textBlue">
        97223
      </span>
    </button>

    <button
      class="de-u-flex de-u-spaceTop06 de-u-cursorPointer
             de-u-textBlue">
      <span
        class="de-u-flex de-u-flexAlignItemsCenter de-u-flexJustifyCenter
               de-u-padRight06">
        {% include 'icon-crosshairs' with class: 'de-Icon' %}
      </span>
      <span class="de-u-spaceLeft07 de-u-textMedium">
        Use my location
      </span>
    </button>
  </div>

  {% comment %}
    This script is for prototyping purposes and by no means should this inline
    script tag be used anywhere else besides this file.

    Prior to implmentiaton, please confirm the desired functionality.

    1. Clicking on the zipcode field will focus that input and allow the user
       to enter a zipcode.
    2. Clicking on the "use my location" button will visually toggle an auto
       focused input field and autopopulate the field with zip code information
       generated from geo-location / user-shared location info.
  {% endcomment %}
  <script>
    $('.de-UpdateLocation').click(function(e) {
      e.preventDefault();
      $('.StorePickup-customerLocation').toggleClass('de-u-hidden');
    });
  </script>

  {% comment %}
    For placement only
  {% endcomment %}

  <div class="StorePickup-customerLocation de-u-hidden">
    <label class="de-u-textDarkGray de-u-spaceBottom06 de-u-textShrink1">
      Enter a city or zipcode
    </label>
    <form class="de-SingleInputForm">
      <div class="de-u-flex de-u-bgSilver de-u-spaceEnds06">
        <input
          placeholder="Your location: Portland, OR"
          class="de-Input de-StoreSearch-input de-SingleInputForm-input
                de-u-textShrink1 de-u-bgSilver">
        <button
          class="de-SingleInputForm-action
                de-u-flex de-u-flexAlignItemsCenter de-u-flexJustifyCenter ">
          {% include 'icon-magnifying-glass' with class: 'de-Icon' %}
        </button>
      </div>
    </form>
  </div>

  <h2
    class="ContentHeading ContentHeading--blue
           de-u-textGrow1 de-u-lineHeight3">
    Order online for
  </h2>

  <div class="StorePickup-tile de-u-flex de-u-flexJustifyBetween">
    <div>
      <h5
        class="de-u-spaceBottomNone
              de-u-textSemibold de-u-textGrow1 de-u-lineHeight2">
        Free pickup <span>today</span>
      </h5>
      <p class="de-u-spaceBottomNone de-u-lineHeight3 de-u-textShrink1">
        <span class="de-u-textSemibold de-u-textBlack de-u-lineHeight3">
        San Francisco
        </span> 735 Market St
      </p>
      <p class="de-u-textShrink1 de-u-spaceBottomNone">Open until 8pm</p>
    </div>
    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-padRight06">
      1.2 mi
    </div>
  </div>

  <div class="StorePickup-tile de-u-flex de-u-flexJustifyBetween">
    <div>
      <h5
        class="de-u-spaceBottomNone
              de-u-textSemibold de-u-textGrow1 de-u-lineHeight2">
        Free pickup <span>tomorrow</span>
      </h5>
      <p class="de-u-spaceBottomNone de-u-lineHeight3 de-u-textShrink1">
        <span class="de-u-textSemibold de-u-textBlack de-u-lineHeight3">
        San Francisco
        </span> 735 Market St
      </p>
      <p class="de-u-textShrink1 de-u-spaceBottomNone">Open 9am to 8pm</p>
    </div>
    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-padRight06">
      4.8 mi
    </div>
  </div>

  <div class="StorePickup-tile de-u-flex de-u-flexJustifyBetween">
    <div>
      <h5
        class="de-u-spaceBottomNone
              de-u-textSemibold de-u-textGrow1 de-u-lineHeight2">
        Free pickup <span>Thursday</span>
      </h5>
      <p class="de-u-spaceBottomNone de-u-lineHeight3 de-u-textShrink1">
        <span class="de-u-textSemibold de-u-textBlack de-u-lineHeight3">
        Portland,
        </span> 510 SW 3rd Ave
      </p>
      <p class="de-u-textShrink1 de-u-spaceBottomNone">Open 9am to 9pm</p>
    </div>
    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-padRight06">
      647.5 mi
    </div>
  </div>

  /**
   * In the working, but unfinished, implementation, this is the container
   * for dynamically-generated store tiles.
   * This id and element are necessary for the module to work.
   */
  <ul id="js-de-StorePickup-list" class="de-u-hidden"></ul>

</div>
