{% comment %} 
  This "back-to-top" pattern was in being used during a product page redesign
  however, it was decided prior to launch to use something else instead. 

  @TODO: 
  1. Remove this file from the repo after launch, if appropriate. 
{% endcomment %}

<div
  class="ProductBackToTop">
  <span class="ProductBackToTop-left" role="presentation"></span>
  <a
    class="ProductBackToTop-middle 
           de-u-textMedium de-u-textSelectNone"
    href="#">
    Back to Top
  </a>
  <span class="ProductBackToTop-right" role="presentation"></span>
</div>
