{% comment %}
  This file is deprecated.
  It is superseded by product-rating--stars-total.liquid
  @TODO - Review the Adept Mind markup in this snippet for inclusion in the new version.
{% endcomment %}

{% comment %}
The rating variable should be a number between 0 and 5 inclusive.
The number of stars filled in will be the ceiling integer of the rating.
{% endcomment %}

{% comment %}
add zero to convert the string to a number, which is stored as a string
because metafields can't be floats
{% endcomment %}
{% assign product_rating = product.metafields.ratings.product_rating | plus:0 %}
{% assign review_count = product.metafields.ratings.review_count | plus:0 %}
{% assign rounded_rating = product_rating | round %}
<div class="starRating-container">
<div class="starRating{{ rating_adtl_classes }}{% if product_rating == 0 %} starRating--noRating{% endif %}" data-rating="{{ product_rating }}">
  {% for i in (0..4) %}
    {% if i < rounded_rating %}
      {% include 'icon-star' with class: 'de-yellow-star' %}
    {% else %}
      {% include 'icon-star' with class: 'de-gray-star' %}
    {% endif %}
  {% endfor %}

  </div>
  <div class="adept-product-rating__info">
    {% if product_rating != 0 %}
      <div class="adept-product-rating__text">{{product_rating}}</div>
  {% endif %}
  {% if product.metafields.reviews.recent_reviews_object %}
      <div class="adept-product-rating__count">({{ product.metafields.reviews.recent_reviews_object.total_item_count }})</div>
  {% endif %}
    </div>
</div>

