<a
  href="#customer-reviews"
  data-drawer-id="reviews-drawer"
  data-drawer-toggle-aria-label="Open the reviews dialog."
  data-drawer-action="open"
  class="de-ProductTitleLockup-rating de-u-size1of2 de-u-flex de-u-flexJustifyEnd js-de-Drawer-toggle"
  data-test="customer-reviews-toggle"
>
  {% include 'product-rating--stars-total' %}
</a>
