<header>
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4
            de-u-spaceNone{% if hidden %} de-u-hidden{% endif %} de-u-md-inlineBlock"
    id="Section-reviews">
    <span class="visually-hidden">Product </span>Customer Reviews
  </h3>
</header>


