<div class="de-u-flex de-u-flexJustifyCenter">
  <img
    src="https://cdn.shopify.com/s/files/1/1330/6287/files/sizechart-womens-top-size-by-size_300x.jpg"
    alt="">
</div>
<div class="SizeGuide">
  <h5 class="de-u-padEnds de-u-spaceNone">
    Size Guide
  </h5>
  <div class="SizeGuide-table de-Wrapper--fullwidth de-u-flex
              de-u-padBottom3">
    {% include 'product-proto-size-guide' %}
  </div>
  <p class="de-u-padEnds06">1. Footnote</p>
</div>
