{% if product_video.size > 0 %}
<div class="productMedia">
  <div class="productVideos u-paddingTopBottom4x">
    <h4 class="u-marginBottom1x">Videos</h4>
	<div class="de-slick--videos de-js-slick--videos">
    {% for video_id in product_video %}
        <div class="embedWrapper">
		  <div class="embedContainer">
		    {% if forloop.first %}
		      <iframe class="de-js-firstVideo" width="100%" height="100%" src="https://players.brightcove.net/3415345270001/S1PSLnzml_default/index.html?videoId=ref:{{ video_id }}_1&secureConnections=true&secureHTMLConnections=true" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="0"></iframe>
		    {% else %}
              <iframe width="100%" height="100%" src="https://players.brightcove.net/3415345270001/rJxNjfhX_default/index.html?videoId=ref:{{ video_id }}_1&secureConnections=true&secureHTMLConnections=true" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="0"></iframe>
		    {% endif %}
          </div>
        </div>
    {% endfor %}
	</div>
  </div>
</div>
{% endif %}