{% comment %}
  Capture all of the "Size Guide" content
{% endcomment %}
{% capture reviews_content %}
  <h4>Reviews</h4>
  <p>The reviews content will go here.</p>
{% endcapture %}

{% comment %}
  Create the drawer
{% endcomment %}
{% include 'product-drawer', drawer_id: "reviews-drawer", content: reviews_content %}
