{% comment %} Customer Fulfillment Information {% endcomment %}
<div class="de-ProductFulfillment">
  <div class="de-u-padBottom">
    <div class="de-u-flex de-u-padEnds06">
      {% include 'icon-free-returns'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
      <p class="de-u-spaceNone de-u-textMedium">
        <span class="de-u-textBold">Free</span> returns
      </p>
    </div>

    <div class="de-u-flex de-u-padBottom06 de-u-padTop">
    {% include 'ship-icon'
      with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
      <p class="de-u-spaceNone de-u-textMedium"><span
      class="de-u-textBold">Free</span> shipping over $50</p>
    </div>

    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-padEnds06">
      {% include 'pickup-icon'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
      <div>
        <p class="de-u-spaceNone de-u-textMedium"><span
        class="de-u-textBold">Free</span> pickup tomorrow</p>
        <p class="de-u-spaceNone">
          <span class="de-u-textMedium"> San Francisco</span>, 735 Market
          St. <a href="#" class="de-u-textMedium de-u-textSelectNone
          de-u-spaceLeft06">Options</a>
        </p>
      </div>
    </div>
  </div>
</div>
