{% comment %}
  From existing Decathlon `product.liquid` Product template START BLOCK 1
{% endcomment %}

  {% comment %} Product Flags {% endcomment %}
  {% comment %}
    {% if product.tags contains 'Innovation' %}
      <span class="productFlag productFlag--productDetail">Innovation</span>
    {% endif %}
  {% endcomment %}

{% comment %}
  From existing Decathlon `product.liquid` Product template END BLOCK 1
{% endcomment %}

{% comment %} Small Screen Title Lockup {% endcomment %}
{% include 'product-sm-title-lockup' %}

{% comment %} Small Screen ProductGallery {% endcomment %}
<div class="de-ProductCarousel de-Wrapper--fullwidth de-u-lg-hidden">
  {% include 'product-carousel' %}
  <div class="de-ProductLabel de-ProductLabel--red js-de-ProductLabel
    de-u-lg-hidden de-u-textMedium">
    Last Call
  </div>
</div>

  {% comment %}
    Show video when 'Watch Video' action is clicked
  {% endcomment %}
  {% if product_video.size > 0 %}
    <video data-account="3415345270001"
      data-player="rJxNjfhX"
      data-embed="default"
      data-video-id="ref:{{ product_video[0] }}_1"
      class="video-js de-copyVideo js-de-copyVideo de-u-hidden"
      controls
      playsinline>
    </video>
  {% endif %}
{% comment %} Toggle from image to video {% endcomment %}
<div class="ProductGallery-controls de-Wrapper--fullwidth de-u-padEnds03
  de-u-bgSilver de-u-lg-hidden">
  <div class="de-u-padSides de-u-textSizeBase de-u-flex
    de-u-flexAlignItemsCenter de-u-flexJustifyBetween">
    {% if product_video.size > 0 %}
      <div class="js-de-toggle-media">
        <button class="de-u-flex de-u-flexAlignItemsCenter de-u-textBlue js-de-watch-video">
          {% include 'icon-media-play'
            with class: 'de-Icon de-u-textGrow3 de-u-spaceRight06' %}
          Watch Video
        </button>
        <button class="de-u-hidden de-u-flex
        de-u-flexAlignItemsCenter de-u-textBlue js-de-view-images">
          {% include 'icon-camera'
            with class: 'de-Icon de-u-textGrow3 de-u-spaceRight06' %}
          View Images
        </button>
      </div>
    {% endif %}
    <div class="ProductGallery-count de-u-flex de-u-flexAlignItemsCenter">
      {% include 'icon-camera'
        with class: 'de-Icon de-u-textGrow3 de-u-spaceRight06' %}
      3/6
    </div>
  </div>
</div>

{% comment %} Color swatches {% endcomment %}
{% include 'product-proto-swatches-color' %}

{% comment %} Size swatches {% endcomment %}
{% include 'product-proto-swatches-size' %}

{% comment %}
  Price / small screen placement only
  @TODO - can I make de-ProductPrice more reusable (inventory not needed in
  title lockup usage)
{% endcomment %}
<div class="de-ProductPrice de-u-padBottom06 de-u-padTop de-u-textMedium
  de-u-flex de-u-flexAlignItemsEnd">
  <div class="de-u-flex de-u-lg-hidden de-u-flexAlignItemsEnd">
    <div class="de-u-textGrow6 de-u-lineHeight1">$45.00</div>
    <div class="de-u-textGrow2 de-u-padLeft de-u-lineHeight2">
      <del>$57.00</del>
    </div>
  </div>
  <div class="de-u-textRed de-u-lineHeight2 de-u-textGrow2 de-u-padLeft2 de-u-lg-padLeftNone">
    Only 1 left in Stock
  </div>
</div>

{% comment %} Add to cart {% endcomment %}
<div class="de-AddtoCart de-u-spaceBottom2 de-u-flex">
  {% comment %} Quantity Input {% endcomment %}
  {% comment %} <div class="de-u-hidden de-u-md-inlineBlock de-u-md-spaceRight2">
    <input type="number" class="de-AddToCartQty-input">
  </div> {% endcomment %}
  <button class="btn btn--fill de-u-sizeFull de-u-textGrow3">
    <span>Add to cart</span>
  </button>
</div>

{% comment %} Customer Fulfillment Information {% endcomment %}
{% include 'product-fulfillment-info' %}

<div class="de-u-flex de-u-lg-flexJustifyEnd de-u-textShrink1 de-u-textDarkGray
  de-u-padTop03">
  <p><span class="de-u-textMedium">Model</span>: 8492907</p>
</div>
