<div id="{{ id }}" class="screen" data-spinner style="display: none;">
  <div class="spinner-wrapper">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    {% if text %}<h5 class="text-center no-margin-top">{{ text }}</h5>{% endif %}
  </div>
</div>
