<!-- snippets/store-finder.liquid -->

{% comment %}
  Store Finder CSS
{% endcomment %}
{{ 'store-finder.scss.css' | asset_url | stylesheet_tag }}

{% comment %}
  Store Finder Component
{% endcomment %}
<div id='js-StoreFinder'></div>

{% comment %}
  Store Finder Script(s)
{% endcomment %}
{% include 'moment.js' %}
{% include 'moment-timezone.js' %}
<script defer type="module" src="{{ 'built-store-finder.js' | asset_url }}"></script>

<!-- End snippets/store-finder.liquid -->
