<!-- snippets/store-pickup.liquid -->

{% comment %}
  Store Pickup Component
{% endcomment %}
<div id="js-de-StorePickup">
  <p>Your location: <span id="js-de-StorePickup-zipcode"></span></p>
  <ul id="js-de-StorePickup-list"></ul>
</div>
<!-- End snippets/store-pickup.liquid -->
