<div class="grid--full anchorLinks js-pinToHeader">
  <div class="wrapper">
    <ul class="anchorList">
    {%- for link in blog_subnav.links -%}
      <li class="anchorList-item">
        <a class="anchorList-link{% if current_section == link.url %} anchorList-link--active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {%- endfor -%}
    </ul>
  </div>
</div>

