<div id="addToCartButton">
  {% raw %}
    <button 
      v-bind:disabled="!available && tagged_bis_hidden"
      v-bind:class="[available ? 'alt' : '']"
      v-cloak
      class="de-Button btn btn--fill de-u-sizeFull de-u-textSizeBase js-de-AddToCart-btn addToCart js-de-Drawer-toggle">
      <span v-text="available ? 'Add to Cart' : tagged_bis_hidden ? 'Out of Stock' : 'Email me when available'"></span>
    </button>
  {% endraw %}
</div>
