.bnpl_icons {
  svg {
    height: 25px;
    vertical-align: middle;
  }
}

.bnpl_icons {
  font-weight: 700;
  align-items: center;
}

.bnpl_icons_desktop {
  display: none;
}

.bnpl_icons_mobile {
  justify-content: left;
  font-weight: 400;
  font-size: 16px;
  margin: 0.75rem 0.25rem;
}



.bnpl_icons > * {
}

.bnpl_modal {
  h1, h2, h3, h4, h5, h6, strong {
    color: #0082c3;
  }
}

.bnpl_modal > div:not(.bnpl_modal_header) {
  padding: 0 0.75rem;
}

.bnpl_modal {
  padding: .25rem 0;
  margin-top: 50px;
}

.bnpl_modal strong {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.bnpl_modal_header {
  display: none;
}

.bnpl_modal_logo {
  margin-bottom: 10px;
  text-align: center;
}

.bnpl_modal_logo svg {
  height: 40px;
  display: inline-block;
}

.bnpl_modal_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.bnpl_modal_instalment_terms {
  text-align: center;
}

.bnpl_modal_instalment_term:not(:last-child) {
  border-right: 1px solid #e0e0e0;
  margin-right: 1rem;
  padding-right: 0.75rem;
}

.bnpl_modal_price_text {
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

.bnpl_modal_body {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bnpl_modal_body_item {
  margin-bottom: 20px;
}

.bnpl_modal_body_item strong {
  line-height: 20px;
}

.bnpl_modal_footer {
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
}

.bnpl_modal_footer > p {
  padding: 20px 0.75rem;
  margin: 0;
}

.bnpl_modal_footer > p strong {
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
}

.bnpl_modal_footer > p a {
  white-space: nowrap;
}

@media screen and (min-width: 769px) {
  .bnpl_modal {
    max-width: 600px;
  }

  .bnpl_icons_desktop {
    display: flex;
  }

  .bnpl_icons_mobile {
    display: none;
  }

  .bnpl_modal strong {
    font-size: 19.6px;
  }  

  .bnpl_modal_header {
    width: 100%;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 0.25rem .75rem;
  }

  .bnpl_modal_logo {
    margin-bottom: 10px;
  }

  .bnpl_modal_title {
    flex-direction: row;
    justify-content: center;
  }

  .bnpl_modal_title > *:not(:last-child) {
    margin-right: 1.25rem;
  }

  .bnpl_modal_price_text {
    font-size: 16px;
  }

  .bnpl_modal_body {
    flex-direction: row;
  }  

  .bnpl_modal_body_item {
    padding: 0 0.5rem;
    text-align: left;
    flex: 1;
  }
}

@media screen and (min-width: 960px) {
  .bnpl_icons_desktop {
    max-width: 520px;
    flex-wrap: wrap;
  }

  .bnpl_icons_threshold_message {
    margin: 0;
    width: 100%;  
  }
}

.bnpl_icons_threshold_message {
  font-size: 16px;
  font-weight: normal;
  display: block;
}


@media screen and (min-width: 768px) {
  .bnpl_icons_desktop {
    font-size: 14px;
  }

  .bnpl_icons_threshold_message {
    font-size: 14px;
  }
}
