.de-ProductPageTopShelf {
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas: 
    "titleLockup"
    "gallery"
    "mediaControls"
    "colorSwatches"
    "sizeSwatches"
    "addToCart"
    "fulfillmentLocationInfo"
    "modelCode";
  grid-template-columns: 1fr;
}

@media (min-width: $breakpoint-lg) {
  .de-ProductPageTopShelf {
    grid-template-areas: 
      "gallery titleLockup"
      "gallery colorSwatches"
      "gallery sizeSwatches"
      "gallery addToCart"
      "gallery fulfillmentLocationInfo"
      "gallery fulfillmentLocationInfo"
      "gallery modelCode"
      "gallery .";
    grid-template-columns: 1fr 1fr;
  }

  // .de-ProductPageTopShelf.product-marketplace-template {
  //   grid-template-areas: 
  //     "gallery titleLockup"
  //     "gallery addToCart"
  //     "gallery fulfillmentLocationInfo"
  //     "gallery fulfillmentLocationInfo"
  //     "gallery modelCode"
  //     "gallery .";
  // }
}

.de-ProductPageTopShelf-gallery {
  grid-area: gallery;
}

.de-ProductPageTopShelf-mediaControls {
  grid-area: mediaControls;
}

.de-ProductPageTopShelf-titleLockup {
  grid-area: titleLockup;
}

.de-ProductPageTopShelf-colorSwatches {
  grid-area: colorSwatches;
}

.de-ProductPageTopShelf-sizeSwatches {
  grid-area: sizeSwatches;
}

.de-ProductPageTopShelf-addToCart {
  grid-area: addToCart;
}

.de-ProductPageTopShelf-fulfillment-location {
  grid-area: fulfillmentLocationInfo;
}

// .de-ProductPageTopShelf-locationsInventory {
//   grid-area: locationsInventory;
// }

.de-ProductPageTopShelf-modelCode {
  grid-area: modelCode;
}


// .de-ProductPageTopShelf-colorSwatches.product-marketplace-template {
//   display: none;
// }

// .de-ProductPageTopShelf-sizeSwatches.product-marketplace-template {
//   display: none;
// }

.de-ProductPageTopShelf-addToCart.product-marketplace-template {
  padding: 20px 0 10px;
}
