/**
 * A unique solution for anchor links for use when fixed or sticky menus are
 * present. Adding this class to an element directly preceding the element, or
 * as the first-child inside of the element you'd like to link to, will ensure
 * the context does not become hidden behind the fixed/sticky header element.
 *
 * The method of assigning a negative integer for margin, and the same
 * (non-negative) integer for padding ensures that a gap in the content does
 * not exist.
 *
 * @see: https://css-tricks.com/hash-tag-links-padding
 *
 * 1. The value `130px` was determined by adding the height of both the primary
 *    navigation and the product page sticky menu plus a tiny bit extra for a
 *    more comfortable anchor navigation experience - making it a bit of a
 *    magic number
 */

 .de-ProductAnchor {
  display: block;
  margin-top: -130px;
  padding-top: 130px;
}
