.de-collapse {
  max-height: 0;
  overflow: hidden;
  transition-duration: 300ms;
  opacity: 0;

  &.expanded {
    transition: max-height 0.25s ease-in;
    max-height: 1000px;
    opacity: 1;
    overflow: unset;
  }
}

[data-collapse] {
  .de-collapse-trigger {
    font-size: 12px;
    font-family: 'avalonbold';
    color: $color-white;
    padding: 5px 20px;
    background-color: $color-blue;

    .de-Icon {
      height: 0.5em;
      transition: transform 200ms ease-in-out;
    }
  }

  &.expanded {
    .de-collapse-trigger {
      .de-Icon {
        transform: rotate(180deg);
        margin-bottom: 0.1em;
      }
    }
  }
}

.inventory-locations {
  background-color: $color-silver;
  padding: 20px 30px;
  font-size: 12px;

  .de-Icon {
    width: 1.5em;
    height: 1.5em;
  }

  .locs-row {
    padding: 20px 0;
    border-top: 1px solid #d9d9d9;
    display: flex;
    line-height: 1.5em;

    &:first-of-type {
      border-top: none;
    }

    &:first-of-type:not(:last-of-type) {
      padding-top: 0;
    }
  }

  .t-table {
    width: 100%;

    .t-row {
      display: flex;
      position: relative;
      margin: 10px 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .t-cell {
        padding-left: 10px;
        display: flex;
      }

      .title {
        padding-left: 0;
        width: 105px;
        font-family: 'avalonbold';
        text-transform: uppercase;
        flex-grow: 1;
      }

      .ready {
        width: 200px;
        display: flex;
        flex-direction: column;
        line-height: 1.2;
      }

      .availability {
        width: 100px;
        font-family: 'avalonbold';
        flex-grow: 0;

        &.in {
          color: #7cc000;
        }
        &.low {
          color: #ff9d00;
        }
        &.out {
          color: #ff0000;
        }
      }

      .hours {
        flex-grow: 0;
        justify-content: flex-end;
        width: 28%;
        text-align: right;
      }

      .tooltipOpener {
        cursor: pointer;
        text-decoration: underline;
        &:hover ~ .hours-tooltip {
          display: block;
        }
      }

      .hours-tooltip {
        display: none;
        position: absolute;
        bottom: calc(100% + 7px);
        right: 0;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
        border: solid 1px #ccc;
        border-radius: 5px;
        padding: 20px;
        max-width: 350px;
        &::after {
          content:'';
          display:block;
          width: 10px;
          height: 10px;
          position:absolute;
          border-left: solid 1px #ccc;
          border-bottom: solid 1px #ccc;
          transform: rotate(-45deg);
          right: 20px;
          bottom: -6px;
          background-color: #fff;
        }
      }

      h4 {
        font-size: 14px;
      }
      hr {
        margin: 20px 0;
      }
      p,
      .tooltip-announcement {
        font-size: 12px;
        margin: 10px 0 0;
      }
      .fullhours-list {
        list-style: none;
        margin: 0;

        li {
          margin: 0;
          display: table-row;
          .weekday,
          .tooltip-hours {
            display: table-cell;
          }
          .weekday {
            padding-right: 10px;
          }
        }
      }
      .tooltip-announcement {
        font-size: 12px;
        margin: 20px 0 0;
      }
    }
  }

  @media (max-width: $breakpoint-lg) {
    padding: 15px;

    .t-table {
      .t-row {
        display: block;

        .t-cell {
          padding-left: 0;
        }

        .title, .ready, .hours {
          width: unset;
          text-align: left;
          justify-content: unset;
        }

        .ready, .availability {
          display: inline-block;
        }

        .availability {
          float: right;
          text-align: right;
        }
        .hours-tooltip {
          left: 0;
          right: unset;
          bottom: 25px;
          &::after {
            left: 20px;
            right: unset;
          }
        }
      }
    }
  }
}

#locsTable .de-Icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.locs-intruction {
  margin: 0 auto;

  img {
    height: 1.5em;
    vertical-align: middle;
  }
}

@media (max-width: $breakpoint-lg) {
  .locs-collapse, .locs-collapse button {
    width: 100%;
    position: relative;

    .de-collapse-trigger {
      .de-Icon {
        position: absolute;
        top: 1em;
        right: 1.5em;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .product-inventory-locations {
    border-bottom: 3px solid $color-lime;
  }
}

.product-inventory-locations {
  .de-SingleInputForm {
    max-width: 250px;
  }

  .de-SingleInputForm-action {
    color: white;
    background-color: #0081c3;
  }
}

.product-inventory-locations {
  .de-SingleInputForm {
    max-width: 250px;
    margin: 10px 0;
    display: inline-block;
  }

  .de-SingleInputForm-action {
    color: white;
    background-color: #0081c3;
  }

  #deliveryLocationMessage {
    display: inline-block;
    font-weight: bold;    
    vertical-align: middle;

    @media (min-width: $breakpoint-sm) {
      padding-left: 15px;
      width: calc(100% - 300px);
    }

    .a {
      padding-left: 5px;
    }
  }

  #postcodeError {
    color: #e53222;
    font-weight: bold;
  }

  

  @media (min-width: $breakpoint-lg) {
    #inventoryLocations, #postcodeError, .de-SingleInputForm {
      margin-left: 40px;
    }
  } 
}

.no-click-collect {
  padding: 50px 0;
  font-weight: bold;
  font-size: 1rem;
}

.a {
  cursor: pointer;
  font-weight: bold;
  color: #1c82c3;
  &:hover {
    color: #0082c3;
  }
}

.de-rrp-tooltip--top {
  bottom: 25px;
  left: 0;
  top: unset;

  &::after {
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-left: none;
    border-bottom: none;
    bottom: -6px;
    top: unset;
  }
}
