{{ 'collection_search_preloader.scss.css' | asset_url | stylesheet_tag }}

<div class="ais-preloader-container hidden" id="collection-search-preloader">
  <div class="preloader">
    <img class="preloader-gif" src="{{ 'decathlon-loader.gif' | asset_url }}">
    <p class="preloader-copy">
      {% if template contains 'collection' %}
        {{ 'collections.general.products_preloader' | t }}
      {% else %}
        {{ 'general.search.products_preloader' | t }}
      {% endif %}
    </p>
  </div>
</div>
