/config.yml
.DS_Store
node_modules/*
src/css/*
.env

# Compiled/bundled from /scripts/**
/assets/built-*.js
# Built from /styles/**
/assets/built-*.css
# Built from /snippets-src/assets/**
/snippets/assets-*.liquid
# Built from /snippets-src/compositions/**
/snippets/compositions-*.liquid
