/config.yml
.DS_Store
node_modules/*
src/css/*
.env

# Compiled/bundled from /scripts/**
/assets/built-*.js
# Built from /styles/**
/assets/built-*.css
# Built from /snippets-src/**
/snippets/*.liquid
!/snippets/algolia*
!/snippets/checkout_js*
!/snippets/ship-icon*
!/snippets/pickup-icon*
!/snippets/thankyou_review*
!/snippets/shogun-*
!/snippets/nav-*
!/snippets/breadcrumb-*
theme.zip
