/config.yml
.DS_Store
node_modules/*
src/css/*
.env

# Compiled/bundled from /scripts/**
/assets/built-*.js
/assets/built-*.js.liquid
# Built from /styles/**
/assets/built-*.css
# Built from /snippets-src/**
/snippets/*.liquid
!/snippets/algolia*
!/snippets/checkout_js*
!/snippets/ship-icon*
!/snippets/pickup-icon*
!/snippets/support-icon*
!/snippets/thankyou_review*
!/snippets/shogun-*
!/snippets/nav-*
!/snippets/breadcrumb-*
!/snippets/vue*
!/snippets/buying_guide*
!/snippets/ufe*
!/snippets/smile*
!/snippets/util_*
!/snippets/createur_*
!/snippets/alert-come-back*
!/snippets/insider*
theme.zip
