@import '../product-page/index.scss';
.recently-viewed-algolia {

  width: 100%;
  padding-left: 16px;
  float: left;

  @media (min-width: 800px) {
    padding-left: 30px;
  }

  .mobile_title {
    padding-top: 0;
  }

  .de-ProductTile-showcase .de-ProductFlag {
    right: auto;
  }
}

.grey-divider {
  border-top: 1px solid #e5e5e5;
  margin-right: 15px;
  padding-top: 30px;

  @media (min-width: 800px) {
    margin-right: 30px;
  }
}
