<!-- Start Cart -->
{% comment %}
  Show number of items in the cart and total cost in the /cart link

  Ajax Cart Notes:
  - #cartCount updates the total number of items in the cart
  - #cartCost updates the total cost of the cart
  - Documentation:  http://shopify.com/timber#ajax-cart
{% endcomment %}

<a
  href="/cart"
  class="de-MenuBar-action de-MenuBar-action--primary"
  data-gtm-event="customer-interaction"
  data-gtm-id="Cart"
  data-gtm-category="Header"
  aria-controls="CartDrawer"
  aria-expanded="false">
  <span class="de-MenuBar-label de-u-textNormal js-cart-count" id="CartCount">{{ cart.item_count }}</span>
  {% if cart.item_count == 0 %}
    {% include 'patterns-icons-cart'
      with class: 'de-MenuBar-icon' %}
  {% else %}
    {% include 'patterns-icons-cart'
      with class: 'de-MenuBar-icon', filled: true %}
  {% endif %}
</a>
<!-- End Cart -->
