<!-- snippets-src/compositions/header/index.liquid -->

<header class="de-PageWrap-header js-de-PageWrap-header">
  <div class="de-PageWrap-headerPrimary">
    <div class="de-PageWrap-narrowMenuControl">
      <div class="de-MenuBar">
        <button
          class="de-MenuBar-action de-MenuBar-action--stack"
          id="data-MenuBar-narrow"
          data-gtm-event="customer-interaction"
          data-gtm-id="Hamburger Menu"
          data-gtm-category="Header"
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="demo-side">
          {% include 'patterns-icons-bars'
            with class: 'de-MenuBar-icon' %}
          <span class="de-MenuBar-label">Menu</span>
        </button>
      </div>
    </div>
    <div class="de-PageWrap-logo" itemscope itemtype="http://schema.org/Organization">
      {% if settings.logo_use_image %}
        <a href="/" title="Decathlon">
          {% if settings.svg_logo != blank %}
            <img src="{{ settings.svg_logo | file_url }}" alt="Decathlon logo"/>
          {% else %}
            <img src="{{ settings.img_logo }}" alt="Decathlon logo"/>
          {% endif %}
        </a>
      {% else %}
        {% include 'patterns-branding-logo' with
          titleId:'logo-title',
          href: '/',
          class: 'de-PageWrap-logoImage' %}
      {% endif %}
    </div>
    <div class="de-PageWrap-wideMenuControl">
      <div class="de-MenuBar">
        <button
          class="de-MenuBar-action de-u-textGrow1"
          id="data-MenuBar-Wide"
          data-gtm-event="customer-interaction"
          data-gtm-id="Shop"
          data-gtm-category="Header"
          data-de-page-wrap-action="toggleMenu"
          data-de-page-wrap-target="demo-mega"
          data-de-page-wrap-hover="true">
          <span class="de-MenuBar-label">Shop</span>
        </button>
        {% if settings.enable_meet_decathlon == true %}
          <button
            class="de-MenuBar-action de-u-textGrow1"
            data-gtm-event="customer-interaction"
            data-gtm-id="Meet Decathlon"
            data-gtm-category="Header"
            data-de-page-wrap-action="toggleMenu"
            data-de-page-wrap-target="meet-decathlon"
            data-de-page-wrap-hover="true">
            <span class="de-MenuBar-label">{{ linklists["meet-decathlon"].title }}</span>
          </button>
        {% endif %}
      </div>
    </div>
  </div>
  <nav class="de-PageWrap-headerSecondary">
    <ul class="de-MenuBar">
      <li class="de-PageWrap-headerTertiaryControl">
        <button
          class="de-MenuBar-action"
          data-gtm-event="customer-interaction"
          data-gtm-id="Magnifying Glass"
          data-gtm-category="Header"
          data-de-page-wrap-action="toggleExpand"
          data-de-page-wrap-target="demo-search">
          {% include 'patterns-icons-search'
              with class: 'de-MenuBar-icon' %}
        </button>
      </li>
      <li class='de-u-hidden de-u-sm-block'>
        {% include 'compositions-header-store-finder' %}
      </li>
      <li class="de-u-hidden de-u-sm-block">
        {% include 'compositions-header-greeting' %}
      </li>
      <li>
        {% include 'compositions-header-cart' %}
      </li>
    </ul>
  </nav>
  <div class="searchbar-overlay"></div>
  <div class="de-PageWrap-headerTertiary" id="demo-search">
  <div class="de-SingleInputForm adept-autocomplete-search">
    <form action="/search">
      <input
        class="de-Input de-SingleInputForm-input"
        data-gtm-event="customer-interaction"
        data-gtm-id="Search Bar"
        data-gtm-category="Header"
        type="search"
        name="q"
        placeholder="{%- include 'search-placeholder' -%}">
      <button
        class="de-SingleInputForm-action"
        data-gtm-event="customer-interaction"
        data-gtm-id="Magnifying Glass"
        data-gtm-category="Header">
        {% include 'patterns-icons-search', class: 'de-u-textGrow3', role: 'presentation' %}
        <span class="de-u-hiddenVisually">Search</span>
      </button>
    </form>
  </div>
</div>
</header>
<div class="de-PageWrap-narrowMenu" data-de-page-wrap-action="closeMenu">
	<nav class="de-PageWrap-narrowMenuInner" id="demo-side" data-de-page-wrap-cancel="" aria-hidden="false">
	  {% include 'compositions-header-nav-narrow' %}
	</nav>
</div>
<div class="de-PageWrap-wideMenu"
  data-de-page-wrap-action="closeMenu">
  {% include 'compositions-header-nav-wide' %}
</div>
<!-- End snippets-src/compositions/header/index.liquid -->
