<div class="de-PageWrap-wideMenu"
    data-de-page-wrap-action="closeMenu">
    <nav class="de-PageWrap-wideMenuInner"
      id="demo-mega"
      data-de-page-wrap-cancel>
      <div class="de-Grid de-Grid--equalHeight">
        <div class="de-u-size4of5 de-u-xl-size5of6" id="mega-tabs">
          <div class="de-u-sizeFull">
            <div class="de-u-padSides2">
              <div class="de-MenuBar">
                <h2 class="de-MenuBar-heading">
                  Shop All Sports…
                </h2>
                <ul class="de-MenuBar-list">
                  {% for link in linklists.mega-tabs.links %}
                    <li>
                      <button class="de-MenuBar-action"
                        data-de-collapsible-target="mega-tab-{{ link.handle }}"
                        data-de-collapsible-action="show">
                        {{ link.title }}
                      </button>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="de-u-pad2 de-u-borderTopSm de-u-borderGray50 de-u-borderOverlapTopSm">
              {% for link in linklists.mega-tabs.links %}

                {% assign menu_handle = link.url | handleize %}
                {% assign mega_menu = linklists[menu_handle] %}
                
                {% if mega_menu.links.size > 0 or menu_handle == 'az' %}
                  <div class="de-Collapsible js-de-Collapsible" data-parent="mega-tabs" id="mega-tab-{{ link.handle }}">
                    {% case menu_handle %}
                      {% when 'sports' %}
                        {% render 'compositions-header-nav-wide-sports' %}
                      {% when 'az' %}
                        {% include 'compositions-header-nav-wide-az' %}
                      {% else %}
                        {% include 'compositions-header-nav-wide-list', list: mega_menu %}
                    {% endcase %}
                  </div>
                {% endif %}
                
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="de-u-size1of5 de-u-xl-size1of6 de-u-bgWhite">
          {% include 'compositions-header-nav-wide-extras' %}
        </div>
      </div>
    </nav>
    {% if settings.enable_meet_decathlon == true %}
      {% include 'compositions-header-nav-wide-meet-decathlon' %}
    {% endif %}
  </div>
