<div class="form-vertical">
  {% form 'create_customer', data-submit: '#customer-fields #create_customer', class: 'copy-create' %}
    {% include 'compositions-customer-fields-false-form-fields', hide_completed_fields: true %}
    <input type="submit" value="Submit">
  {% endform %}
  <div style="display:none;">
    {% include 'compositions-customer-fields-app' %}
  </div>
</div>
