<div class="form-vertical" id="accountEdit" style="display:none;">
  {% capture spinner_text %}{{ 'customer.account.updating_details_spinner' | t }}{% endcapture %}
  {% render 'spinner', id: 'accountEditSpiner', text: spinner_text %}
  {% form 'create_customer', data-submit: '#customer-fields #create_customer', class: 'copy-create edit-form styled-form' %}
    {% include 'compositions-customer-fields-false-form-fields' %}
    <input type="submit" value="Update">
    <a href="#" id="cancelEditAccount">Cancel</a>
  {% endform %}
</div>
