<div class="form-vertical  alert-form" id="accountEdit" style="display:none;">
  {% capture spinner_text %}{{ 'customer.account.updating_details_spinner' | t }}{% endcapture %}
  {% render 'spinner', id: 'accountEditSpiner', text: spinner_text %}
    {% capture marketing_text %}{{ 'customer.custom_fields.marketing_optin_edit' | t }}{% endcapture %}
    {% include 'compositions-customer-fields-false-form-fields', marketing_text: marketing_text, marketing_hidden: true %}
</div>