<div id="customer-fields" {% unless customer %}data-registration="true"{% endunless %} class="de-u-hidden">
  {% form 'create_customer' %}
    <input type="hidden" name="shop" value="{{ shop.permanent_domain }}">
    <div class="fields"><!-- Fields loaded from server --></div>
    <div class="form-footer"></div>
    <script>
      var Customr = {
        baseUrl: "https://customr.heliumdev.com",
        {% if customer %}
          shopifyCustomer: {
            id: {{ customer.id }},
            token: {{ customer.metafields.customr_auth.token | json }}
          },
        {% endif %}
        ready: function() {
          $('#create_customer.copy-create input, #create_customer.copy-create select').each(function() {
            $(this).trigger('change');
          });
        },
      beforeSave: function() {  
          var $firstName = $('#customer-fields input[name="' + 'customer[first_name]' + '"]');
          var $postcode = $('#customer-fields input[name="' + 'customer[postcode]' + '"]');
          addSpace($firstName);
          addSpace($postcode);
          $('#accountEditSpiner').show();
          $('html, body').animate({
            scrollTop: 0
          }, 100);
        },
        afterSaveSuccess: function() {
          if ($('#accountInfo').length) {
            document.cookie = "is_from_registration=1; max-age=" + 60 * 5;
          }
          setTimeout(function(){   
            window.location.reload(true);       
          }, 2000);
        }
      };
    </script>
    <script src="https://cdn-customr.heliumdev.com/assets/v2/embed.js"></script>
  {% endform %}
</div>
