<div class="general-popup" id="welcomePopup">
  <div class="modal_background">
  </div>
  <div id="modal_welcome_message" class="modal_container">
    <button class="modal_close">✖</button>
    <div class="welcomeMessage">
      <h4>{{ 'customer.account.welcome_heading' | t }}</h4>
      <p>{{ 'customer.account.welcome_subheading' | t }}</p>
    </div>
    {{ pages.decathlon-membership.content }}
  </div>
</div>