<div class="product_tile_skeleton">
  <div class="image_container">
    <span class="skeleton-box"></span>
  </div>
  <div class="details">
    <span class="skeleton-box" style="width:55%;"></span>
    <span class="skeleton-box" style="width:80%;"></span>
    <span class="skeleton-box" style="width:90%;"></span>
    <span class="skeleton-box" style="width:83%;"></span>
    <span class="skeleton-box" style="width:80%;"></span>
  </div>
</div>
