<a href="{{settings.link}}" class="trending_category_tile">
  <!-- Skeleton loader here -->
  <div class="trending_category_image_container">
    <img 
      class="lazy trending_category_image" 
      alt="{{settings.image.alt}}"
      data-src="{{ settings.image | img_url: '540x690' }}"
      data-lazy-function="onTrendingCategoryImageLoad"
      >
      <div class="skeleton-box"></div>
  </div>
  <div class="trending_category_title_container">
    <span class="trending_category_title">{{settings.title}}</span>
    <div class="skeleton-box"></div>
  </div>
</a>
