/*
 * ProductFlag
 *
 * @TODO
 * 1. Improve documentation/comments
 */

 .de-ProductFlag {
  line-height: 1.2;
  padding: 0.38125em 0.75375em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 1;
}
