.add_to_wishlist_container {
  .wk-button-product {
    border: 2px solid #0080C4;
    height: 100%;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .wk-button-product[disabled],
  .wk-button-product.disabled {
    border: 2px solid #acb3b8;
    cursor: not-allowed;

    & path {
      stroke: #acb3b8;
    }

    &:hover {
      cursor: not-allowed;

      path {
        fill-opacity: 0;
      }
    }
  }

  .wk-icon {
    margin-left: -5px;
    margin-top: 1px;
  }
}