/**
 * Button
 *
 * There is a lack of consistency of button styles across decathlon.com and a
 * button pattern does not exist in the pattern library. At some point a button
 * pattern should be created.
 *
 * `de-Button` is being added to address some global concerns related to
 * different styles associated with states such as `disabled`. At some point
 * refactoring and introducing `de-Button` into the pattern library should
 * be considered.
 */

$button-background-hover: #429dd7;
$button-background-hover-alt: #ecff9a;

.de-Button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: $color-blue;
  border: $border-width-md solid $color-blue;
  color: $color-white;
  user-select: none;

  &:hover {
    background-color: $button-background-hover;
    border-color: $button-background-hover;
  }

  &.alt {
    background-color: $color-lime;
    color: $color-black;
    border: $border-width-md solid $color-lime;
    &:hover {
      background-color: $button-background-hover-alt;
      border-color: $button-background-hover-alt;
      color: $color-black;
    }
  }

  &[disabled] {
    background-color: $color-gray;
    border-color: $color-gray;
    color: $color-white;
    cursor: not-allowed;

    &:hover {
      background-color: $color-gray;
      border-color: $color-gray;
      color: $color-white;
    }
  }
}
