/**
 * Additional Videos
 *
 * @TODO
 * 1. This pattern could be made more generic or given an improved name.
 */

 @media (min-width: $breakpoint-lg) {
  .de-AdditionalVideos {
    margin: 0 auto;
    max-width: 72vw;
  }
}

.de-AdditionalVideos-thumb {
  padding: 10px;
}

/**
 * 1. Hides the element until it is initialized/loaded
 * 2. Required so the element doesn't collapse on itself during loading
 */

.de-slick--videos {
  opacity: 0; /* 1 */
  height: 100%; /* 2 */
}

/**
 * 1. Displays the element once initialized
 * 2. Adding a quick transitions makes the experience less jaring
 */

.de-slick--videos.slick-initialized {
  opacity: 1; /* 1 */
  transition: opacity $transition-speed-fast ease-in; /* 2 */
}

.de-slick--videos-thumbnails {
  margin-left: -10px;
}

@media (max-width: $breakpoint-md) {
  .de-slick--videos {
    margin: auto;
  }
}
