/*
 * @TODO
 * 1. This likely makes more sense as a decendent class of `ProductInfoSection`
 *    Consider refactoring to: `ProductInfoSection-title`
 */

.de-ProductInfoTitle {
  border-bottom: $border-width-lg solid $color-lime;
  margin: 0;
  padding-bottom: 5px;
}
