/**
 * Button
 *
 * There is a lack of consistency of button styles across decathlon.com and a
 * button pattern does not exist in the pattern library. At some point a button
 * pattern should be created.
 *
 * `de-Button` is being added to address some global concerns related to
 * different styles associated with states such as `disabled`. At some point
 * refactoring and introducing `de-Button` into the pattern library should
 * be considered.
 */

 $button-background-hover: #429dd7;

 .de-Button {
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   background-color: $color-blue;
   border: $border-width-md solid $color-blue;
   color: $color-white;
   user-select: none;
 }

 .de-Button:hover {
   background-color: $button-background-hover;
   border-color: $button-background-hover;
 }

 .de-Button[disabled] {
   background-color: $color-gray;
   border-color: $color-gray;
   color: $color-white;
   cursor: not-allowed;
 }
