.add_to_wishlist_container {
  position: relative;

  .tooltip {
    bottom: 67px;
    z-index: 999;
  }

  &:hover {
    .tooltip {
      display: block !important;
      left: -130px;
      min-width: 200px;

      &:after {
        left: 160px;
      }
    }
  }

  .wk-button-product {
    border: 2px solid #0080C4;
    height: 100%;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    path {
      stroke: #0080C4;
    }
  }

  .wk-button-product[disabled],
  .wk-button-product.disabled {
    border: 2px solid #acb3b8;
    cursor: not-allowed;

    & path {
      stroke: #acb3b8;
    }

    &:hover {
      cursor: not-allowed;

      path {
        fill-opacity: 0;
      }
    }
  }

  .wk-icon {
    margin-left: -5px;
    margin-top: 1px;
  }
}
