<div id="marketplace-duplicate-fulfillment-items-template" class="de-u-hidden">
  {% for block in section.blocks %}
    {% if block.settings.title != blank %}
      <div class="de-u-flex de-ProductFulfillment-option">
        <div class="uploaded-svg-icon">
          {{ block.settings.icon_file | img_url | img_tag }}
        </div>
        <p class="de-u-spaceNone de-u-textMedium">{{ block.settings.title }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% if section.blocks.size > 0 %}
  <script>
    $(document).ready(function() {
      var fulfillmentItemsTemplateContainer = document.querySelector('#marketplace-duplicate-fulfillment-items-template');
      var fulfillmentItemsContainer = document.querySelector('#fulfillment-info-container');
      console.log('hey', fulfillmentItemsTemplateContainer, fulfillmentItemsContainer);
      
      if(fulfillmentItemsContainer && fulfillmentItemsTemplateContainer) {
        fulfillmentItemsContainer.innerHTML = fulfillmentItemsTemplateContainer.innerHTML;
      }
    })
  </script>
{% endif %} 

{% schema %}
  {
    "name": "Delivery info items",
    "settings": [
    ],
    "blocks": [
      {
        "type": "delivery_info_items",
        "name": "Delivery info item",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "icon_file",
            "label": "SVG Icon"
          }
        ]
      }
    ]
  }
{% endschema %}
