{% assign section_title = section.settings.title %}
{% assign section_collection = section.settings.section_collection %}
{% assign section_linkout_label = 'homepage.sections.featured_collection.section_linkout_label' | t %}

{% assign no_products_message = 'homepage.sections.featured_collection.no_products' | t %}

{% assign products = section_collection.products %}
{% assign product_blocks = section.blocks %}

<div class="section_title_container">
  <h3 class="section_title">{{ section_title }}</h3>
  {% if products.size > 0  %}
  <a class="section_linkout" href="{{ section_collection.url }}">{{section_linkout_label }}</a>
  {% endif %}
</div>

{% include 'components-six-tile-products'
  products: products
%}

{% schema %}
  {
    "name": "Six Tile Products",
    "tag": "section",
    "class": "six_tile_products section_with_title",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Section title here"
      },
      {
        "type": "collection",
        "id": "section_collection",
        "label": "Product Collection",
        "info": "If there are less than 6 products in the collection, there will be whitespaces that will be left."
      }
    ],
    "blocks": [
      {
       "name": "Product",
       "type": "product",
       "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
       ]
      }
    ],
    "max_blocks": 6,
    "presets": [{
      "name": "Six Tile Products"
    }]
  }
{% endschema %}
