{% if section.settings.show_trending_products %}
  <div class="trendingProducts u-block">
    <h3 class="text-center">{% if settings['is_lookbook'] == true %}Popular Products{% else %}Trending Products{% endif %}</h3>
     <div class="de-u-md-padSides03"> 
      {% include 'components-product_tile_carousel_swiper',
        inventory_status: false,
        delivery_options: false,
        limit: section.settings.limit,
        products: collections['trending-products'].products
      %}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Trending products",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_trending_products",
        "default": false,
        "label": "Show trending products"
      },
      {
        "type": "number",
        "id": "limit",
        "default": 20,
        "label": "Number of items in the carousel"
      }
    ]
  }
{% endschema %}
