
#announcement-banner-container.announcement-active {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  z-index: 1001;
  height: 30px;
  overflow: hidden;
  background-color: #FE5800 !important;
  pointer-events: initial;
}
.announcement-close {
  position: absolute;
  right: 0;
  padding: 8px;
  color: #1f1f1f;
  opacity: .7;
}
#announcement-banner-container,
#announcement-banner-container.announcement-hidden {
  display: none;
  height: 0;
  pointer-events: none;
}

.annoucement-bar{
  width: 100%;
  height: 100%;
  min-height: 30px;
}

.announcement-bar * {
  font-weight: 600;
  margin-bottom: 0;
}


.annoucement-bar .vertical_text_slider{
  width: 100%;
  height: 30px;
  overflow: hidden;
}


.vertical_text_slider:after {
  display: none !important;
}


#announcement-banner-container .vertical_text_item {
  white-space: nowrap;
  position: absolute;
  -webkit-transform: translate3d(0, -105%, 0);
  transform: translate3d(0, -105%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 101%;
  height: 31px;
  top: -3px;
  left: 50%;
  padding: 0 5%;
  @media screen and (min-width: 40em) {
    flex-direction: row;
  }

}
#announcement-banner-container .vertical_text_item a,
#announcement-banner-container a.vertical_text_item{
  text-decoration: underline;
  color: inherit;
}

#announcement-banner-container .vertical_text_wrapper {
  display: inline-flex;
  color: inherit;
  width: 100%;
  justify-content: center;
 
}

.vertical_text_wrapper p{
  margin-right: 8px !important;
  color: inherit;
  @media screen and (min-width: 40em) {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
  }
}

.hidden {
  display: none;
}

time.announcement-countdown {
  font-size: 16px
}

.vertical_text_item:first-of-type {
  -webkit-transform: translate3d(-50%, -110%, 0);
  transform: translate3d(-50%, -110%, 0);

  > p {
  transform: translate3d(-50%, -110%, 0);

  }
}

.vertical_text_item.anim-in {
  -webkit-transform: translate3d(-50%, -110%, 0);
  transform: translate3d(-50%, -110%, 0);
  -webkit-animation: textAnimInCenter .6s forwards;
  animation: textAnimInCenter .6s forwards;
}

.vertical_text_item.anim-out {
  -webkit-transform: translate3d(-50%, 10%, 0);
  transform: translate3d(-50%, 10%, 0);
  -webkit-animation: textAnimOutCenter .5s forwards;
  animation: textAnimOutCenter .5s forwards;
}

@-webkit-keyframes textAnimInCenter {
  0% {
    -webkit-transform: translate3d(-50%, -110%, 0);
    transform: translate3d(-50%, -110%, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0);
  }
}

@keyframes textAnimInCenter {
  0% {
    -webkit-transform: translate3d(-50%, -110%, 0);
    transform: translate3d(-50%, -110%, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0);
  }
}

@-webkit-keyframes textAnimOutCenter {
  0% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 110%, 0);
    transform: translate3d(-50%, 110%, 0);
  }
}

@keyframes textAnimOutCenter {
  0% {
    -webkit-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 110%, 0);
    transform: translate3d(-50%, 110%, 0);
  }
}

#announcement-banner-container .vertical_text_item.horizontal_scroll_mobile {
  overflow: hidden;
}

#announcement-banner-container .vertical_text_item.horizontal_scroll_mobile.scroll-slow > div{
  -moz-transform: translateX(80%);
  -webkit-transform: translateX(80%);
  transform: translateX(80%);
  
  -moz-animation: banner-scroll 12s linear infinite;
  -webkit-animation: banner-scroll 12s linear infinite;
  animation: banner-scroll 12s linear infinite;

  @media screen and (min-width: 40em) {
    animation: none;
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

#announcement-banner-container .vertical_text_item.horizontal_scroll_mobile.scroll-normal > div{
  -moz-transform: translateX(80%);
  -webkit-transform: translateX(80%);
  transform: translateX(80%);
  
  -moz-animation: banner-scroll 9s linear infinite;
  -webkit-animation: banner-scroll 9s linear infinite;
  animation: banner-scroll 9s linear infinite;
  @media screen and (min-width: 40em) {
    animation: none;
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}


#announcement-banner-container .vertical_text_item.horizontal_scroll_mobile.scroll-fast > div{
  -moz-transform: translateX(80%);
  -webkit-transform: translateX(80%);
  transform: translateX(80%);
  
  -moz-animation: banner-scroll 6s linear infinite;
  -webkit-animation: banner-scroll 6s linear infinite;
  animation: banner-scroll 6s linear infinite;
  @media screen and (min-width: 40em) {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    animation: none;
  }
}


/* for Firefox */
@-moz-keyframes banner-scroll {
  from { -moz-transform: translateX(80%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes banner-scroll {
  from { -webkit-transform: translateX(80%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes banner-scroll {
  from {
    -moz-transform: translateX(80%);
    -webkit-transform: translateX(80%);
    transform: translateX(80%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

}
