.featured_collection_section {
  margin: 30px 0;
}

.featured_collection_section .carousel_container {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;  
}

.featured_collection_section .swiper_products_tile_carousel_container {
  padding: 0;
}


.featured_collection_section .no_products{
  padding: 0 10px;
}
