.featured_collection_section {
  margin: 30px 0;
}

.featured_collection_section.section_with_title  .section_title_container{
  margin-bottom: 0;
}

.featured_collection_section .carousel_container {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;  
}

.featured_collection_section .swiper_products_tile_carousel_container {
  padding: 0;
}


.featured_collection_section .no_products{
  padding: 0 10px;
}

.featured_collection_section .de-ProductTile-showcase {
  padding: 8px .5625rem 0;
}

@media (min-width: 40em) {
  .featured_collection_section .de-ProductTile-showcase {
    padding: 32px 1.602rem 0;
  }
}
