.de-ProductTile {
  padding: 1.125rem .5em;
}

@media (min-width: $breakpoint-md) {
  .de-ProductTile {
      padding: 0.5625rem;
  }
}

.de-ProductTile-showcase {
  background-color: $color-white;
  padding: 2.566rem .5625rem 0;
  text-align: center;
  position: relative;
}

@media (min-width: $breakpoint-md) {
  .de-ProductTile-showcase {
    padding: 2.566rem 1.602rem 0;
  }
}

.de-ProductTile-showcase .de-ProductFlag {
  left: 0;
  right: auto;
}

.de-ProductTile-header {
  border-top: $border-width-sm solid $color-light-gray;
}

/* 
 * @TODO improve selector by adding a proper class name to SVG, so that we can remove
 * the tag selector here
 */
.de-ProductTile svg {
  height: 16px;
  width: auto;
}

@media (min-width: $breakpoint-md) {
  .de-ProductTile svg {
    height: 18px;
    width: auto;
  }
}

.de-ProductTile-showcaseImage {
  width: 100%;
}
.de-SwatchObjects-item:hover + a.label {
  color: $color-blue !important;
}

.de-ProductTile-header {
  .vendor_logo_fallback {
    margin: 0;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 6px;
  }
}

.de-productTile-top-container {
	position: relative
}

.de-RatingItem {
	position: absolute;
	bottom: 0;
	background-color: rgba(253,253,253,.8);
	padding: 5px 5px 5px 0;
	border-radius: 1px
}