.de-ProductTile {
  padding: 1.125rem .5em;
}

@media (min-width: $breakpoint-md) {
  .de-ProductTile {
      padding: 0.5625rem;
  }
}

.de-ProductTile-showcase {
  background-color: $color-white;
  padding: 2.566rem .5625rem 0;
  text-align: center;
  position: relative;
}

@media (min-width: $breakpoint-md) {
  .de-ProductTile-showcase {
    padding: 2.566rem 1.602rem 0;
  }
}

.de-ProductTile-showcase .de-ProductFlag {
  left: 0;
  right: auto;
}

.de-ProductTile-header {
  border-top: $border-width-sm solid $color-light-gray;
}

/* 
 * @TODO improve selector by adding a proper class name to SVG, so that we can remove
 * the tag selector here
 */
.de-ProductTile svg {
  height: 16px;
  width: auto;
}

@media (min-width: $breakpoint-md) {
  .de-ProductTile svg {
    height: 18px;
    width: auto;
  }
}

.de-ProductTile-showcaseImage {
  width: 100%;
}
.de-SwatchObjects-item:hover + a.label {
  color: $color-blue !important;
}

.de-ProductTile-header {
  .vendor_logo_fallback {
    margin: 0;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 6px;
  }
}

.de-productTile-top-container {
	position: relative
}

.de-productTile-top-container .de-RatingContainer {
  position: relative;
  z-index: 2;
}

.de-RatingItem {
	position: absolute;
	bottom: 0;
	background-color: rgba(253,253,253,.8);
	padding: 5px 5px 5px 0;
	border-radius: 1px
}

.swiper-swatch-button-prev button.de-ProductTileCarousel-button,
.swiper-swatch-button-next button.de-ProductTileCarousel-button{
  background: #fafafa !important; // Need to override
  border: 1px solid #f3f3f3;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.swiper-swatch-button-next button.de-ProductTileCarousel-button.slick-prev .de-ProductTileCarousel-svg {
  transform: rotate(360deg) ;
}

.swiper_products_swatch_carousel_container{
  display: none;
  flex-direction: row;
}

@media screen and (min-width: 1024px) {
  .swiper_products_swatch_carousel_container{
    display: flex
  };
}

.swiper-swatch-button-prev,
.swiper-swatch-button-next{
  width: 10%;
}
.swiper_products_swatch_carousel{
  width: 80%;
  overflow: hidden;
}

.swiper_products_swatch_carousel a.de-SwatchObjects-item {
  width: 40px;
  min-width: 40px !important;
}


// Carousel Swiper

.swiper-product-tile-image-container {
  display: block;
  position: relative;
}

.swiper-product-tile-image-container .swiper-product-tile-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-product-tile-image-thumbs-container {
  position: relative;
}

.swiper-product-tile-image-container .swiper-product-tile-image-thumbs {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.swiper-product-tile-image-thumbs .swiper-slide.swiper-slide-thumb-active img{
  border-bottom: 2px solid #0080c4;
}

.swiper-product-tile-image-thumbs .swiper-slide {
  cursor: pointer;
}

.swiper-product-tile-image-container .swiper-product-tile-image .swiper-slide{
  width: 100% !important;
}

.product-tile-swiper-button-prev {
  position: absolute;
  top: 50%;
  margin-top: -21px;
  left: -21px;
  z-index: 2;
  width: 42px;
  height: 42px;
}

.product-tile-swiper-button-next {
  position: absolute;
  top: 50%;
  margin-top: -21px;
  right: -21px;
  z-index: 2;
  transform: rotate(180deg);
  width: 42px;
  height: 42px;
}


.product-tile-thumbs-swiper-button-prev {
  position: absolute;
  top: 50%;
  margin-top: -21px;
  left: -21px;
  z-index: 2;
  width: 42px;
  height: 42px;
}

.product-tile-thumbs-swiper-button-next {
  position: absolute;
  top: 50%;
  margin-top: -21px;
  right: -21px;
  z-index: 2;
  transform: rotate(180deg);
  width: 42px;
  height: 42px;
}


// Product Tile Grid
.six-tile-products {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
  flex-wrap: wrap;
}

.six-tile-products.--less-than-max {
  justify-content: flex-start;
}

.six-tile-products .six-tiles-product{
  width: 49%;
}

#recently_viewed_products_container.six-tile-products{
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .six-tile-products .six-tiles-product{
    width: 33.33%;
  }
  
  #recently_viewed_products_container.six-tile-products{
    justify-content: flex-start;
  }
}


@media screen  and (min-width: 1280px) {
  .six-tile-products {
    padding: 0 20px; 
  }

  // .six-tile-products.--less-than-max {
  //   justify-content: center;
  // }

  .six-tile-products .six-tiles-product{
    width: 16.6666666667%;
  }
}

.six-tiles-product .de-ProductTile-showcase {
  padding-top: 0;
}

 
// Splide Overrides
.swiper-product-tile-image-container.--hide-main-nav-arrows .main-carousel .splide__arrows {
  display: none;
}

.main-carousel .splide__arrow--prev {
  left: -15px;
}

.main-carousel .splide__arrow--next {
  right: -15px;
}

@media screen and (min-width: 1280px) {
  .main-carousel .splide__arrow--prev {
    left: -35px;
  }
  
  .main-carousel .splide__arrow--next {
    right: -35px;
  }

  .swiper-product-tile-image-container .main-carousel .splide__arrows {
    display: none;
  }
}

// .swiper-product-tile-image-container .thumbnail-carousel {
//   display: none;
// }

.swiper-product-tile-image-container .thumbnail-carousel .splide__arrows,
.ais-product .thumbnail-carousel .splide__arrows {
  display: none;
}

.--hide-thumbnail-nav-arrows .thumbnail-carousel .splide__arrows {
  display: none;
}

.swiper-product-tile-image-container .thumbnail-carousel {
  margin: 0 auto;
}

.swiper-product-tile-image-container .thumbnail-carousel.--thumbs-less-than-max,
.ais-hits--item .thumbnail-carousel.--thumbs-less-than-max {
  margin: 0;
}


.ais-hits--item .thumbnail-carousel.--thumbs-less-than-max {
  margin: 0 1.602rem 0;
}

.--thumbs-less-than-max .splide__arrows {
  display: none;
}

.thumbnail-carousel .splide__arrow--prev {
  left: -30px;
}

.thumbnail-carousel .splide__arrow--next {
  right: -30px;
}

.thumbnail-carousel .splide__track--nav > .splide__list > .splide__slide {
  border: 0 solid transparent;
  border-bottom: 3px solid transparent;
}

.thumbnail-carousel .splide__track--nav > .splide__list > .splide__slide.is-active {
  border-bottom-color: #0075bc;
}

.thumbnail-carousel .splide__slide img {
  width: 100%;
  height: 100%;
  padding: 2px;
}


@media screen and (min-width: 1280px) {
  .swiper-product-tile-image-container .thumbnail-carousel .splide__arrows,
  .ais-product .thumbnail-carousel .splide__arrows {
    display: block;
  }

  .swiper-product-tile-image-container .thumbnail-carousel.--thumbs-less-than-max .splide__arrows {
    display: none;
  }

  .swiper-product-tile-image-container .thumbnail-carousel {
    display: block;
  }
}

img.--variant-not-available{
  opacity: .75;
  filter: grayscale(1);
}


// Collection / Search Page
.carousel-with-ratings-box {
  position: relative;
}

.carousel-with-ratings-box .ais-rating {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fdfdfdcc;
}

.swiper-product-tile-image-container.--hide-main-nav-arrows .main-carousel .splide__arrows {
  display: none;
}

.thumbnail-carousel {
  margin: 0 auto;
}

.collection-carousel.--hide-thumbnail-nav-arrows .splide__arrows {
  display: none;
}

.collection-carousel.--hide-main-nav-arrows .splide__arrows {
  display: none;
}

.collection-carousel.main-carousel .splide__arrow--prev {
  left: 0;
}

.collection-carousel.main-carousel .splide__arrow--next {
  right: 0;
}


@media screen and (min-width: 1280px) {
  .collection-carousel.main-carousel .splide__arrows {
    display: none;
  }
}
