/*
 * ProductFlag
 *
 * @TODO
 * 1. Improve documentation/comments
 */

 .de-ProductTitleLockup-price {
   margin-top:1.5em;
 }

.CustomLabels {
    position: absolute;
    width: 100%;
    text-align:right;

   .label_combo {
       // width: 100%;
       // text-align: right;
       // display: flex;
       // flex:1 1 0px;
       // flex-direction: column;
       // align-items: center;

      width: 25%;
      text-align: right;
      display: flex;
      flex: 1 1 0px;
      flex-direction: column;
      align-items: center;
      right: 0;
      margin-left: auto;
   }

   .de-ProductTile {
     .label_combo {
       position: absolute;
       right:0;
     }
   }

   .ProductFlag {
      position: relative;
      line-height: 1.2;
      padding: 0.38125em 0.75375em;
      right: 0;
      text-transform: uppercase;
      top: 0;
      z-index: 1;
      margin-left: auto;
      width:100%;
      text-align:center;
      white-space: nowrap;

      background-color: #0080c4;
      color: white;
  }
}

.de-ProductTile-showcase {
  .CustomLabels {
    position:absolute;
    width:100%;

    .ProductFlag {
       position: absolute;
       margin-left:-30px;
       text-align:center;
       width:50%;
       left:0;
     }

    .label_combo {
      align-items: flex-start;
      width:100%;

      .ProductFlag {
       position: relative;
       text-align:center;
       margin-left:-30;
       left:0;
       right:auto;

     }
    }


  }

}

.ais-tag-combo {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  align-items: flex-start;
  /* -webkit-text-stroke-width: thin; */
  width: 100%;
  position: absolute;

  .ais-hit--label {
    width:38%;
    position:relative;
    white-space:nowrap;
  }
}

@media screen and (max-width:1344px) and (min-width: 1200px) {
  .ais-hit--label {
    width:55% !important;
  }
  .CustomLabels {
    .label_combo {
      align-items: flex-start !important;
      margin-left:0 !important;
    }
  }
}

@media screen and (max-width:1199px) {
  .ais-hit--label {
    width:48% !important;
  }
  .CustomLabels {
    font-size:0.8em;
  }
}

@media screen and (max-width:600px) {
  .CustomLabels {
    .label_combo {
      .ProductFlag {
        margin-left:0px;
      }

    }
  }
}
