{% comment %} TODO Make use of translation text {% endcomment %}
<p class="de-u-spaceNone de-u-textShrink1 de-u-textMedium">
  {% include 'components-free-shipping-info' %}
</p>

{% comment %} TODO Make use of translation text {% endcomment %}
<p class="de-u-textShrink1 de-u-textMedium">
  <span class="de-u-textBold">Free</span> pickup
</p>
