<p
  class="de-ProductTile-inventoryStatus
          de-u-textRed de-u-textMedium de-u-textShrink1 de-u-spaceBottomNone"
>
  {% comment %} TODO Use dynamic translated text {% endcomment %}
  Limited Availability
</p>
