/**
 * @pattern StarRating
 * Consider converting this into a pattern in the future.
 */

.de-StarRating,
.de-StarRating-fill {
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.de-StarRating {
  background-image: url('icon-stars.svg');
  height: 1.2em;
  position: relative;
  margin: 0;
  width: 6em;
}

.de-StarRating--small {
  bottom: 0.185em;
}

@media (max-width: $breakpoint-lg) {
  .de-StarRating--small {
    bottom: .145em;
    height: 1em;
    width: 5em;
  }
}

.de-StarRating-fill {
  background-image: url('icon-stars-fill.svg');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
