{% assign associated_product_handles = product.metafields.merchandising.associated_products.products %}
{% if associated_product_handles.size > 0 %}
  <div class="trendingProducts associated-products-carousel-container">
    <div class="associated_products_carousel">
      <h3>Frequently Bought Together</h3>
      {% include 'components-product-tile-carousel'
        handles: associated_product_handles,
        limit: 3,
        inventory_status: false,
        delivery_options: false,
        slide_breakpoints_type: 'associated-products'
      %}
    </div>
  </div>
{% endif %}