<div class="de-Grid de-u-lg-spaceTop3 de-u-spaceTop">
    <p>If you return a product you will receive a refund for the purchase price plus any applicable sales taxes, less any non-refundable charges.</p>
    <p>Decathlon will cover all shipping costs associated with your return except for items excluded from our return policy such as bikes, basketball hoops, snowboards, surfboards, tents, and other larger / heavier items.</p>
    <p>Return costs for heavy products:</p>
    <div class="de-u-overflowXAuto de-u-spaceBottom1">
      <table>
        <thead>
          <tr>
            <th>Weight Thresholds</th>
            <th>Shipping within California</th>
            <th>Shipping outside of California</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&gt; 9 lbs</td>
            <td>$20.00</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>&gt; 30 lbs</td>
            <td>$50.00</td>
            <td>$65.00</td>
          </tr>
          <tr>
            <td>&gt; 100 lbs</td>
            <td>$100.00</td>
            <td>$125.00</td>
          </tr>
          <tr>
            <td>&gt; 200 lbs</td>
            <td>$200.00</td>
            <td>$230.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>If you return a product at any of our store locations, we will gladly help you find the best alternative product or refund you on the spot.</p>
  </div>
