{% comment %} 
  The upper half of the PAC UI is client-side rendered here
{% endcomment %}
<div class="js-de-PAC-dynamic-content"></div>

{% if settings.click_collect_version == 'v1' %}
  {% include 'components-drawer-added_item_template' %}
{% else %}
  {% include 'components-drawer-added_item_template_v2' %}
{% endif %}

{% comment %}
  Dynamic Yield Featured Products

  Client-side rendered grid of product tiles driven by Dynamic Yield
{% endcomment %}
<section>
  {% render 'components-drawer-added_item_drawer_container' %}
</section>
