<div class="recently_viewed_products slick-slider container slick-carousel" style="display: none;" >
  <h2 class="de-ProductInfoSection-title
    de-u-textGrow2 de-u-md-textGrow3 de-u-lg-textGrow4
    de-u-spaceNone de-u-hidden de-u-md-inlineBlock">Recently Viewed Products</h2>
  <div id="recently_viewed_products_container" class="row slider" data-max-items="12">
    <div id="recently_viewed_products_loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
