#order-table-wrap,
#shopifyOrderTbl,
#newstoreOrderTbl,
#noOrders,
#shopNowBtn,
#order-history-return-btn {
  display: none;
}

#shopifyOrderTbl_length, 
#newstoreOrderTbl_length {
  padding-bottom: 20px !important;    
}
#shopifyOrderTbl, 
#newstoreOrderTbl {
  border-collapse: collapse !important;
}
.orderTh {
  border-bottom-color: #E5E5E5 !important;
  padding: 15px !important;
}
.orderTd {
  padding: 15px !important;
}
#orderBodyTr {
  height: 53px !important; 
}
#spinningLoad {
  margin-left: auto;
  margin-right: auto;
  display: block;
}