.de-PostAddToCart .drawer-checkout-form {
  display: inline-flex;
  width: 100%;
}

.de-ProductPageTopShelf .de-ProductPageTopShelf-fulfillment {
  border-bottom: 3px solid #ffea28;
}

/* .add-to-cart-button {
  display: none;
} */
