{% assign option_type = 'model code' %}
{% assign option_index = '' %}
{% for product_option in product.options_with_values %}
  {% assign product_option_name = product_option.name | downcase %}
  {% if product_option_name == option_type %}
    {% assign option_index = forloop.index %}
    {% break %}
  {% endif %}
{% endfor %}

{% if product.selected_or_first_available_variant and option_index != blank %}
  {% if option_index == 1 %}{% assign current_model = product.selected_or_first_available_variant.option1 %}{% endif %}
  {% if option_index == 2 %}{% assign current_model = product.selected_or_first_available_variant.option2 %}{% endif %}
  {% if option_index == 3 %}{% assign current_model = product.selected_or_first_available_variant.option3 %}{% endif %}
{% else %}
  {% assign current_model = '' %}
{% endif %}
<div class="de-u-flex de-u-flexCol de-u-lg-flexRow de-u-lg-flexJustifyBetween de-u-textShrink1 de-u-textDarkGray de-u-padTop03 js-de-ModelCode">
 {% if product.available %}
    <div class="afterpay-block">
      {% include 'components-afterpay_snippet' %}
      <!-- Zip WIDGET -->
        {% include 'components-zip-widget'%}
        <div id="zip-prod-widget" data-zm-asset="productwidget" data-zm-widget="popup" data-zm-popup-asset="termsdialog"></div>
      <!-- end Zip WIDGET -->
    </div>
  {% endif %}
  <div class="{% if current_model == blank %} de-u-hidden{% endif %}">
    <span class="de-u-textMedium de-u-textGrow1">Model: <span class="js-de-ModelCode-text" itemprop="model">{{ current_model }}</span></span>
  </div>
</div>
