<div class="product-inventory-locations">
  <div class="de-u-padBottom06">
    <div class="de-u-flex">
      {% include 'assets-icons-store'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
      <p class="de-u-spaceNone de-u-textMedium" data-collapse="inventoryLocations">
        <button class="de-collapse-trigger">Check In-Store Availability {% include 'assets-icons-chevron-down' with class: 'de-Icon de-u-spaceLeft05' %}</button>
      </p>
    </div>
  </div>
  <div class="de-u-padBottom06 de-collapse" id="inventoryLocations">
    <div class="inventory-locations" id="inventoryLocs">
      
      <div class="locs-row de-u-textBold">
        {% include 'assets-icons-flag'
        with class: 'de-u-textBlack de-Icon de-u-spaceRight06' %}
        Favourite Store: Tempe <a class="de-u-spaceLeft05" href="/pages/store-finder">Change</a>
      </div>

      {% raw %}
        <div class="locs-row" v-if="id && id !== 'demo'">
          <div class="t-table">
            <div class="t-row">
              <div class="t-cell title">
                {% endraw %}
                  {% include 'assets-icons-truck'
                  with class: 'de-u-textBlack de-Icon de-u-spaceRight06' %}
                {% raw %}
                <span v-text="delivery.name"></span></div>
              <div class="t-cell ready" v-text="delivery.ready"></div>
              <div class="t-cell availability" v-bind:class="delivery.availability.class" v-text="delivery.availability.text"></div>
              <div class="t-cell hours" v-text="delivery.hours"></div>
            </div>
          </div>
        </div>
      {% endraw %}

      {% raw %}
        <div class="locs-row de-u-textBold" v-if="id && id !== 'demo'">
      {% endraw %}
        {% include 'assets-icons-location'
        with class: 'de-u-textBlack de-Icon de-u-spaceRight06' %}
        Click & Collect Locations
      </div>

      {% raw %}
        <div v-if="id === 'demo'" class="locs-row">
          Loading inventory...
        </div>
        <div class="t-table" v-else-if="id" id="locsTable">
          <div class="t-row" v-for="location in locations">
            <div class="t-cell title"><span v-text="location.title"></span><span v-if="location.fav">{% endraw %}{% include 'assets-icons-flag' with class: 'de-u-textBlack de-Icon de-u-spaceLeft06' %}{% raw %}</span></div>
            <div class="t-cell ready" v-text="location.ready"></div>
            <div class="t-cell availability" v-bind:class="location.availability.class" v-text="location.availability.text"></div>
            <div class="t-cell hours" v-text="location.hours"></div>
          </div>
        </div>
        <div v-else class="locs-row">
          Select a size
        </div>
      {% endraw %}

    </div>
  </div>
</div>