<div class="product-inventory-locations">
  <div class="de-u-padBottom06" data-collapse="inventoryLocations">
    <div class="de-u-flex de-ProductFulfillment-option">
      {% include 'assets-icons-store'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
      <p class="de-u-spaceNone de-u-textMedium">
        <span class="de-u-textBold">Free</span> returns
      </p>
    </div>
  </div>
  <div class="de-u-padBottom06 de-collapse" id="inventoryLocations">
    <div class="inventory-locations">
      <table>
        <tr>
          <td>Tempe</td>
          <td>Ready to collect in 2 hours</td>
          <td>In Stock</td>
          <td>Open today 9:00am - 6:00pm</td>
        </tr>
        <tr>
          <td>Auburn</td>
          <td>Ready to collect in 2 hours</td>
          <td>In Stock</td>
          <td>Open today 9:00am - 6:00pm</td>
        </tr>
        <tr>
          <td>Knoxfield</td>
          <td>Ready to collect in 2 hours</td>
          <td>In Stock</td>
          <td>Open today 9:00am - 6:00pm</td>
        </tr>
        <tr>
          <td>Box Hill</td>
          <td>Ready to collect in 2 hours</td>
          <td>In Stock</td>
          <td>Open today 9:00am - 6:00pm</td>
        </tr>
        <tr>
          <td>Moorabbin DFO Pop-Up Store</td>
          <td>Ready to collect in 2 hours</td>
          <td>In Stock</td>
          <td>Open today 9:00am - 6:00pm</td>
        </tr>
      </table>
    </div>
  </div>
</div>