<svg viewBox="0 0 149.93281 24" width="149.93281" height="24" role="img" class="{{class}}">
  <title>Decathlon Tarmak</title>
  <path d="M84.52772,6.71948h8.74515V8.77137H89.99508v8.52227H87.76619V8.77137h-3.2778Z"/>
  <path d="M100.58235,15.90385H96.36711L95.79678,17.274H93.4171l5.08058-10.856L103.57826,17.274h-2.4059Zm-.78012-1.90112L98.49111,10.9085,97.18,14.00273Z"/>
  <path d="M105.66293,6.71948h4.10379a3.51041,3.51041,0,0,1,3.81536,3.4679,3.23846,3.23846,0,0,1-1.96668,2.98279l2.49112,4.1038h-2.537l-2.09124-3.55968H107.9115V17.274H105.676Zm2.23545,2.05189v2.891h1.96668a1.38981,1.38981,0,0,0,1.48156-1.44223,1.38984,1.38984,0,0,0-1.48156-1.44879Z"/>
  <path d="M118.49877,11.60339V17.274h-2.1699V6.41792l5.0478,5.31,5.0478-5.31V17.274h-2.1699V11.60339l-2.8779,3.00246Z"/>
  <path d="M135.70063,15.90385h-4.2218l-.57034,1.37012h-2.38623l5.08058-10.856L138.68342,17.274H136.271Zm-.78667-1.90112-1.31112-3.09423-1.31112,3.09423Z"/>
  <path d="M144.60966,12.69161,143.0101,14.619v2.655h-2.2289V6.71948h2.2289v4.9888l4.09069-4.9888h2.53046l-3.40891,4.25457,3.71047,6.29992h-2.62224Z"/>
  <path d="M27.65146,6.66048l-3.99235,6.73914a3.20568,3.20568,0,0,1-2.47146,1.40945,2.92379,2.92379,0,0,1-2.91729-2.93027l.00006-.01319a2.87134,2.87134,0,0,1,2.85168-2.8189A3.61863,3.61863,0,0,1,23.469,10.08905a3.36315,3.36315,0,0,1,.6949.73422l1.46189-2.45179a4.49122,4.49122,0,0,0-.71455-.60967A5.90012,5.90012,0,0,0,21.168,6.41136,5.605,5.605,0,0,0,16.57908,8.6206a5.00839,5.00839,0,0,0-1.14067,3.27779,5.47393,5.47393,0,0,0,1.45533,3.74324,6.15573,6.15573,0,0,0,4.18247,1.83556,6.20149,6.20149,0,0,0,3.27779-.98334,6.01843,6.01843,0,0,0,1.01612-.826h2.537v1.534h2.62223V6.66048Zm.25567,6.79814H26.51079l1.39634-2.38624Z"/>
  <polygon points="33.066 17.261 33.066 9.152 31.014 9.152 31.014 6.7 37.872 6.7 37.872 9.152 35.774 9.152 35.774 17.261 33.066 17.261 33.066 17.261"/>
  <polygon points="43.831 13.223 41.058 13.223 41.058 17.261 38.35 17.261 38.35 6.7 41.058 6.7 41.058 10.712 43.831 10.712 43.831 6.7 46.551 6.7 46.551 17.261 43.831 17.261 43.831 13.223 43.831 13.223"/>
  <path d="M69.01721,6.69981v5.9l-4.05791-5.9H62.52062v3.56624A5.45428,5.45428,0,0,0,61.0784,8.06993a5.9,5.9,0,0,0-7.97815,0,5.17231,5.17231,0,0,0-1.68479,3.8219,5.45437,5.45437,0,0,0,.8719,3.05491H50.21579V6.69981H47.528V17.26086h5.84758V16.14641a5.65087,5.65087,0,0,0,3.73668,1.31111,5.75582,5.75582,0,0,0,4.07758-1.652A5.32315,5.32315,0,0,0,62.501,13.66184v3.599h2.70091v-5.9l4.12346,5.9h2.38623V6.69981Zm-11.90494,8.142a2.95658,2.95658,0,0,1-2.91069-2.94346,2.89757,2.89757,0,1,1,2.91069,2.94346Z"/>
  <path d="M15.48429,8.98771V6.66048H9.45971v4.33979A4.91663,4.91663,0,0,0,7.91915,7.965,5.517,5.517,0,0,0,3.78257,6.69981H0V17.26086H4.15624a4.78756,4.78756,0,0,0,3.78257-1.31112,4.99538,4.99538,0,0,0,1.5209-2.95V17.1953h6.02458V14.93362h-3.363V12.967h2.91723V10.70527H12.12128V8.98771Zm-11.68861,5.959H2.70746V8.9746H3.78257A2.73028,2.73028,0,0,1,6.844,11.94428C6.844,14.0224,5.86725,14.94674,3.79568,14.94674Z"/>
  <rect x="77.31002" width="1.63234" height="24"/>
</svg>
