<div class="grid__item large--one-half banner banner--halfBanner{{ adtl_classes }}">
  <p class="banner-image"><img src="{{ banner_image }}" alt="{{ banner_title }}" /></p>
  <h2 class="banner-title u-zindex1x">{{ banner_title }}</h2>
  {%- include 'elements-button' -%}
</div>
