<!-- /templates/blog.liquid -->
<div class="wrapper blogHeader">
  <h1 class="h2">{{ 'homepage.sections.news_title' | t }}</h1>
</div>

{% include 'compositions-blog-subnav' with linklists['all-blogs'] %}

{% paginate blog.articles by 30 %}

{% comment %}
{% assign blogCategory = 'compositions-blog-list-' | append: blog.handle %}
{% include blogCategory %}
{% endcomment %}

<div class="wrapper">
  <div class="blogCards u-paddingTopBottom5x">
    <div class="wrapper">
      {% if blog.articles.size == 0 %}
        <h4 class="text-center u-marginBottom1x">There are currently no articles for {{ blog.title }}.</h3>
        <p class="text-center"><a class="btn" href="/pages/all-blogs">Back to all blogs</a></p>
      {% else %}

      <div class="grid-uniform u-flex-list u-flex-list--line{% if blog.articles.size <= 2 %} u-centerCards{% endif %}">
      {%- for article in blog.articles -%}
        {% include 'compositions-blog-get-for-article', blogs: linklists['all-blogs'].links, article: article %}
        {% include 'compositions-blog-grid-item', size_classes: 'large--one-third medium--one-half', include_excerpt: true %}
      {%- endfor -%}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% comment %}
<div class="wrapper u-paddingTopBottom8x">
{% if blog.handle == 'jobs' %}
  {% include 'compositions-blog-list-jobs' %}
{% else %}
  {% include 'compositions-blog-list-default' %}
{% endif %}
</div>
{% endcomment %}

                    {% if paginate.pages > 1 %}
                        <div class="paginate-bottom">
                            {{ paginate | default_pagination | replace: '&laquo; Previous', '&lang;' | replace: 'Next &raquo;', '&rang;' }}
                        </div>
                    {% endif %}

{% endpaginate %}

<script>
$('.authorSelect').change(function(e) {
  var url = $('.authorSelect option:selected').val();
  window.location.href = url;
});

$(function() {
  var path = $(location).attr('pathname');
  $('.authorSelect').val(path);
});
</script>
