
{%- assign sections = page.content | split: '<p>---section---</p>' %}
{%- assign page_intro = sections[0] -%}
{%- assign banner_bg_image = page.handle | append: '-banner-bg.jpg' | file_url -%}

{% include 'components-banner-billboard',
  banner_adtl_classes: ' banner--centeredContent',
  banner_title: page.title,
  banner_subtitle: page_intro
%}

{% for section in sections %}
  {% if forloop.first %}{% continue %}{% endif %}
  <div class="u-block u-paddingTopBottom6x{% cycle '', ' u-bgLightGray' %}">
    <div class="wrapper wrapper--midWidth">
      {% assign data = section | split: '<p>---/section---</p>' %}
      {{ data[0] }}
      {% if forloop.last %}
        {% include 'contact-form', remove_padding: true %}
      {% endif %}
    </div>
  </div>
{% endfor %}
