{% layout none %}
{%- comment -%} {% include 'components-product-tile', inventory_status: false, delivery_options: false %} {%- endcomment -%}

<div class="six-tiles-product">
  {% include 'components-product-tile-thumb-carousel',
      product: product,
      index: forloop.index
      class: "de-ProductTileCarousel-item"
    %}
</div>
