// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

/*=== Account Info ===*/

#create_customer {
  @extend .customer-form;
}

.customr-field {
  &.customr-field-text, &.customr-field-email {

    @extend .inputWrap;
    @extend .isNotEmpty;

    label {
      opacity: 1;
      height: 100%;
    }

    input {
      padding: 1.4em 1em .6em 1em !important;
      font-size: 16px;
    }

  }
}

[data-customr-field-name="customer[email]"] {
  display: none;
}
/* Checkbox Styling */
.checkboxWrap {
  position: relative;
  clear: both;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    left: 0px;
    height: 23px;
    width: 23px;
    cursor: pointer;
    & + label::before {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      border: solid #d0d3d6 2px;
      float: left;
      margin: 0 10px 10px 0;
    }
    &:checked + label::after {
      content: '';
      display: block;
      width: 8px;
      height: 15px;
      border: solid #2783ef;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      position: absolute;
      top: 2px;
      left: 7px;
    }
  }
}

.styled-form, .alert-form {
  .wrapper {
    max-width: 450px;
    background-color: $disabledGrey;
    padding: 3em 1em 1em;
  }
  .h4 {
    color: #3266ac;
  }
  .label {
    font-family: "avalon_mediumbold", sans-serif;
    font-size: 15px;
  }
  .checkboxWrap {
    margin-bottom: 10px;
  }
  input[type="text"],
  select {
    border: 1px solid #b7b7b7;
    color: #353535;
    background-color: #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 15px;
    height: 51px;
    line-height: 19px;
    margin: 8px 0;
    width: 100%;
    box-shadow: none;
  }
  select {
    background-image:
      linear-gradient(45deg, transparent 50%, #353535 50%),
      linear-gradient(135deg, #353535 50%, transparent 50%),
      linear-gradient(to right, #ffffff, #ffffff);
    background-position:
      calc(100% - 20px) 20px,
      calc(100% - 15px) 20px,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      37px 51px;
    background-repeat: no-repeat;
  }
  .inputWrap.is-notEmpty label {
    padding-top: 12px
  }
  input[type="submit"] {
    border-style: solid;
    padding-top: 11px 70px;
    border-width: 0px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: #3266ac;
    text-decoration: none;
    width: 100%;
    font-family: "avalon_mediumbold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
  }
}
#detailsDisplay {
  label {
    font-size: 14px;
    color: #999999;
  }
}
#accountEdit {
  input[type="submit"] {
    @extend .btn;
    @extend .btn--fill;
    float: right;
  }
  #cancelEditAccount {
    float: left;
    @extend .btn;
    @extend .btn--text;
    @extend .u-textGray;
    padding-left: 0;
  }
}
#accountWelcome .welcomeMessage {
  text-align: center;
  padding: 3em 0.25em;
  h4 {
    font-size: 24px;
    font-family: "avalon_mediumbold", sans-serif;
    color: #3266ac;
  }
}

.fields {
  display: grid;
}

.general-popup {
  @extend .esc-size-guide--popup;
}

/*=== Modal ===*/

.general-popup .modal_background {
  cursor: pointer;
  z-index: 10000000;
  background: #000;
  opacity: .6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.general-popup .modal_container {
  z-index: 10000001;
  background: #fff;
  position: fixed;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 90%;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 15px -4px #000;
}

.general-popup .modal_container .modal_content {
  padding: 20px;
}

.general-popup .modal_close {
  position: absolute;
  padding: 5px 10px;
  top: 0;
  right: 0;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.general-popup .modal_close:hover {
  background: rgba(0, 0, 0, .15);
}

.general-popup .title {
  font-weight: 700;
  margin: 15px 0;
  padding: 0;
}

.edit-form {
  margin: 0 !important;
}

.general-popup {
  .popup-hidden {
    display: none;
  }
}

#accountWelcome {
  .shogun-root {
    margin-top: -160px;

    @media screen and (max-width: 767px) {
      #s-5930c3a5-df3e-4dcd-9495-1074d62ebee9, #s-6e5bb83d-af98-422f-9950-c3d0ab5228e9, #s-a45faa47-dc71-4974-a377-9bf55bccc9f9, #s-33e46199-6496-482b-9811-f301113200da {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
